#faq {
    .title {
        margin: 0;
        font-size: 40px;
    }

    .subtitle {
        margin: 0;
        opacity: 0.7;
        margin-bottom: 40px;
    }

    .legend {
        @include myFlex(row);

        span {
            font-size: 30px;
            margin-left: 20px;
            margin-right: 5px;
        }

        .redLeg {
            color: red;
        }

        .greenLeg {
            color: green;
        }

        .blueLeg {
            color: blue;
        }
    }

    .questionsGrid {
        @include myFlex(row, flex-start, center);
        flex-wrap: wrap;

        .questionBox {
            text-align: center;
            @include myFlex(column);
            padding: 20px;
            margin: 10px;
            width: 300px;
            height: 300px;
            box-sizing: border-box;
            border: 3px solid black;
            border-radius: 10px;

            h2 {
                font-weight: 600;
            }
        }

        .bigBox {
            width: 600px;
        }

        .red {
            border-color: rgba(255, 0, 0, 0.5);
            background: rgba(36, 2, 0, 0.8);
            background: linear-gradient(
                90deg,
                rgba(255, 0, 212, 0.1) 0%,
                rgba(121, 9, 9, 0.1) 100%,
                rgba(36, 2, 0, 0.1) 0%
            );
        }

        .green {
            border-color: rgba(2, 80, 2, 0.5);
            background: rgba(0, 36, 2, 0.8);
            background: linear-gradient(
                90deg,
                rgba(212, 255, 0, 0.1) 0%,
                rgba(9, 121, 9, 0.1) 100%,
                rgba(0, 36, 2, 0.1) 0%
            );
        }

        .blue {
            border-color: rgba(0, 0, 255, 0.5);
            background: rgba(2, 0, 36, 0.8);
            background: linear-gradient(
                90deg,
                rgba(0, 212, 255, 0.1) 0%,
                rgba(9, 9, 121, 0.1) 100%,
                rgba(2, 0, 36, 0.1) 0%
            );
        }
    }
}

@media only screen and (max-width: 768px) {
    #faq {
        .legend {
            flex-direction: column;
        }

        .questionsGrid {
            .questionBox {
                width: 100%;
                height: initial;
                min-height: 300px;
            }
        }
    }
}
