* {
    padding: 0;
    margin: 0;
}

.headerSpace {
    min-height: 100px;
}

#myHeader {
    width: 100%;
    position: fixed;
    z-index: 1000000;

    .noTrigger-hvr-underline-from-left:before {
        background: #00b1ff;
    }

    .noTrigger-hvr-underline-from-left {
        width: 100%;
    }

    .flexington {
        background-color: white;
        display: flex;
        transition: 0.5s box-shadow;
        flex-direction: row;
        justify-content: space-around;
        height: 70px;

        .menuWrapper {
            display: flex;
            width: 80%;
            flex-direction: row;
            justify-content: space-between;

            .logo {
                margin-right: 50px;
            }

            .mobileMenuSwitch {
                width: 30px;
            }

            .rotateLeft {
                animation: rotateLeft 0.5s;
            }

            .rotateRight {
                animation: rotateRight 0.5s;
            }

            .myMobile {
                nav {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    overflow: hidden;
                    padding: 20px 0;
                    width: 100%;
                    background-color: white;
                    transition: 0.5s all;
                    position: absolute;
                    left: 100%;

                    a {
                        font-size: 20px;
                        // border-bottom: 2px solid black;
                    }

                    .navSubElement {
                        color: black;
                        margin: 20px 0;
                        margin-left: 60px;
                    }

                    .navElement {
                        margin: 20px;
                        width: 100%;

                        &:active {
                            color: white;
                        }
                    }
                }

                .open {
                    left: 0;
                }

                .closed {
                    left: 100%;
                }
            }

            img {
                height: 50px;
                padding: 10px 0;
            }

            .switch {
                display: flex;
                align-items: center;

                .arrow {
                    margin-left: 10px;
                    background-color: black;
                    width: 10px;
                    height: 10px;
                    border-radius: 15%;
                    transform: rotate(225deg);
                    transition: 0.5s all;
                    position: relative;

                    &:before {
                        content: "1";
                        color: white;
                        background-color: white;
                        position: absolute;
                        transform: rotate(-45deg);
                        font-size: 1px;
                        text-align: center;
                        width: 16px;
                        height: 10px;
                        left: 1px;
                        top: 3px;
                    }

                    &:hover {
                        transform: rotate(45deg);
                    }
                }
            }

            .myDesktop {
                min-width: 50%;
                color: #6f838d;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

            .navElement {
                height: 100%;
                width: 200px;
                cursor: pointer;

                .hidden {
                    display: none;
                    background-color: white;

                    div {
                        padding: 10px;
                        box-sizing: border-box;
                        line-height: 40px;
                        width: 100%;
                        min-height: 40px;
                        color: #6f838d;
                        transition: color 0.2s;

                        &:hover {
                            color: #00b1ff;
                        }
                    }
                }

                a {
                    line-height: 70px;
                    color: #6f838d;
                    font-weight: bold;
                    transition: color 0.2s;
                }
            }

            .navElement:hover {
                .hidden {
                    display: block;
                }

                .noTrigger-hvr-underline-from-left:before {
                    right: 0;
                }

                a {
                    color: #00b1ff;
                }
            }
        }
    }
}

@keyframes rotateLeft {
    from {
        transform: rotate(359deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes rotateRight {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@media only screen and (max-width: 768px) {
    #myHeader {
        .flexington {
            .menuWrapper {
                width: 100%;
                flex-direction: column;

                .logo {
                    margin-right: 0;
                    padding-bottom: 0;
                    width: 80%;
                }

                .logoWrapper {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;

                    a {
                        text-align: center;
                    }

                    .mobileMenuSwitch {
                        margin-right: 20px;
                    }
                }

                .navElement {
                    color: black;
                }
            }
        }
    }
}
