#banner {
    background-image: url("~@/assets/images/backgrounds/bannerBg.svg");

    background-size: cover;
    width: 100%;
    min-height: 100vh;
    @include myGrid(1fr 1fr, top);

    .container {
        margin-top: 40px;
        width: 80%;
        text-align: center;

        img {
            margin: auto;
            width: 80%;
            margin-bottom: 40px;
        }

        .zaPidtrimki {
            @include myGrid(1fr 1fr 1fr, center, space-between);
            margin: auto;
        }

        h2 {
            margin: auto;
            width: 80%;
            margin-bottom: 40px;
            color: #303351;
            font-size: 36px;
        }

        p {
            margin: auto;
            width: 80%;
            margin-bottom: 40px;
        }

        .buttons {
            @include myFlex(row, flex-start, flex-start);
            flex-wrap: wrap;
            margin: auto;
            margin-bottom: 40px;

            a {
                width: initial;
            }

            .button {
                border-radius: 10px;
                color: white;
                font-weight: 600;
                padding: 10px 20px;
                margin: 5px;
                transition: 0.3s background-color;
                width: initial;
                background-color: #40c5ff;

                &:hover {
                    background-color: rgb(0, 102, 204);
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    #banner {
        background-image: none;
        grid-template-columns: 1fr;

        .container {
            margin: auto;
        }
    }
}

@media only screen and (max-width: 768px) {
    #banner {
        grid-template-columns: 1fr;
        background-image: none;

        .container {
            width: 100%;

            .buttons {
                width: 80%;
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    #banner {
        min-height: initial;

        .container {
            h2 {
                font-size: 28px;
            }

            p {
                font-size: 12px;
            }

            .buttons {
                max-width: 80%;

                a {
                    width: 100%;
                }
            }

            .zaPidtrimki {
                grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
            }
        }
    }
}

#mediaAboutUs {
    .grod {
        @include myGrid(1fr 1fr);

        iframe {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 1000px) {
    #mediaAboutUs {
        .grod {
            grid-template-columns: 1fr;

            iframe {
                height: 300px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #mediaAboutUs {
        .grod {
            grid-template-columns: 1fr;

            iframe {
                height: 250px;
            }
        }
    }
}

// SECTION 1

.aboutWrap {
    background-image: url("~@/assets/images/backgrounds/aboutBg.svg");
    background-size: cover;
    background-position: bottom;
    z-index: -10;
    padding-top: 1vh;
    margin-top: -1vh;
    background-repeat: no-repeat;
}

#dates {
    img {
        width: 100%;
    }

    .imgWrap {
        filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
    }

    @media only screen and (max-width: 768px) {
        .title {
            text-align: left;
        }
    }
}

#mainPartners {
    .grod {
        @include myGrid(1fr 1fr);

        a {
            text-align: center;
            color: black;

            img {
                width: 400px;
            }
        }
    }

    .generalPartners {
        margin-bottom: 100px;
    }

    .specialPartners {
        grid-template-columns: 1fr 1fr 1fr;

        a {
            margin-bottom: 100px;

            img {
                width: 200px;
            }

            img[alt="dou"] {
                width: 150px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #mainPartners {
        .grod {
            grid-template-columns: 1fr;

            a {
                width: 100%;

                img {
                    width: 80%;
                }

                margin-bottom: 40px;
            }
        }

        .generalPartners {
            margin-bottom: 40px;
        }

        .specialPartners {
            grid-template-columns: 1fr 1fr;

            a {
                img {
                    width: 80%;
                }
            }
        }
    }
}

// SECTION 2

#about {
    .title {
        margin-bottom: 40px;
    }

    .myContainer {
        @include myGrid(repeat(4, 1fr), center, center, 40px);
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        .holder {
            background-image: url("~@/assets/images/backgrounds/about_bg.webp");
            background-size: cover;
            background-position: center center;
            @include myFlex(column);
            position: relative;
            width: 300px;
            height: 300px;
            padding: 0px 20px;
            padding-top: 20px;
            overflow: hidden;
            margin: auto;
            border-radius: 8px;
            margin-bottom: 20px;
            box-sizing: border-box;

            div {
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 20px;

                img {
                    width: 75px;
                }
            }
        }

        p {
            text-align: center;
        }

        .bg {
            width: 100%;
            z-index: -1;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

@media only screen and (max-width: 1440px) {
    #about .myContainer {
        grid-gap: 0px;
    }
}

@media only screen and (max-width: 768px) {
    #about .myContainer {
        grid-template-columns: 1fr;
        grid-gap: 40px;

        .holder {
            width: 300px;
            height: 300px;
        }
    }
}

// REGISTRATION

#registration {
    a {
        text-align: center;
        width: 100%;

        .regBtn {
            border-radius: 20px;
            margin: 20px auto;
            overflow: hidden;
            font-weight: 700;
            width: 40%;
            background-color: #2f80ed;
            padding: 20px 40px;
            transition: box-shadow 0.5s;

            &:hover {
                box-shadow: none;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #registration {
        a .regBtn {
            width: 90%;
            padding: 20px 0px;
        }
    }
}

// SECTION 3

#nominations {
}

// SECTION 4

#cybersport,
#judges {
    @include myGrid(3fr 2fr, center, center, 60px);
    padding: 0px 40px;

    p {
        line-height: 24px;
        margin: 50px 0;
        width: 80%;
    }

    a {
        background: #00b1ff;
        border-radius: 6px;
        color: white;
        font-weight: bold;
        padding: 10px 20px;
        text-decoration: none;
        transition: box-shadow 0.5s;
        cursor: pointer;
    }

    a:hover {
        box-shadow: none;
    }

    img {
        width: 100%;
    }
}

#judges {
    @include myGrid(2fr 3fr, center, center, 60px);
}

@media only screen and (max-width: 768px) {
    #cybersport,
    #judges {
        img {
            width: 300px;
            margin: auto;
        }

        grid-template-columns: 1fr;
        grid-gap: 0px;
        padding: 0;
        padding-bottom: 60px;

        div {
            text-align: center;

            p {
                width: 100%;
            }
        }

        a {
            box-sizing: border-box;
            width: 100%;
        }
    }

    #judges {
        img {
            order: 0;
        }

        div {
            order: 1;
        }
    }
}

.mentorBg {
    background-image: url("~@/assets/images/backgrounds/mentorBg.svg");
    background-position: center top;
    background-size: cover;
    padding: 100px 0px;
}

#mentor {
    @include myGrid(1fr 2fr 3fr);

    .heading {
    }

    .title {
        margin-bottom: 40px;
    }

    .mentorBtn {
        background: #00b1ff;
        border-radius: 6px;
        color: white;
        cursor: pointer;
        font-weight: bold;
        padding: 10px 0px;
        text-decoration: none;
        transition: box-shadow 0.5s;
        width: 80%;
        text-align: center;
    }

    .mentorBtn:hover {
        box-shadow: none;
    }

    .info {
        div {
            @include myGrid(1fr 6fr, center, center, 10px);
            margin-bottom: 16px;

            img {
                align-self: baseline;
                width: 50px;
                height: 50px;
                justify-self: right;
            }

            h2 {
                margin-left: 20px;
                color: black;
                margin: 0;
                font-size: 16px;
            }

            ul li {
                color: #6f838d;
                list-style: none;
                margin: 0 0 16px 0em;
                padding: 0;
                position: relative;
                font-size: 14px;
            }

            ul li::before {
                color: #00b1ff;
                content: "\2022";
                font-size: 3em;
                left: -0.6em;
                position: absolute;
                top: -21px;
            }

            div {
                @include myFlex(column, baseline, top);
                width: 60%;
                justify-self: left;
                margin-left: 0px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #mentor {
        grid-template-columns: 1fr;

        .mentorBtn {
            margin-bottom: 20px;
        }

        .info {
            div {
                grid-template-columns: 1fr 4fr;

                div:first-child {
                    display: none;
                }

                div {
                    grid-column: 1 / 3;
                    width: 100%;
                    margin: 0;

                    ul {
                        margin-left: 58px;
                    }
                }
            }
        }
    }
}

// SECTION 6

.stealth {
    overflow: hidden;
}

#lastWinners {
    @include myGrid(1fr);

    .upper {
        @include myFlex(row, center, space-between);
    }

    .buttons {
        @include myFlex(row, center, space-between);

        .arrowButton {
            margin-left: 15px;
            background: none;
            border: #00b1ff 1px solid;
            border-radius: 100px;
            width: 40px;
            height: 40px;
            outline: none;
            cursor: pointer;
            position: relative;
            transition: background-color 0.5s;

            i {
                position: absolute;
                font-size: 10px;
                top: 50%;
                transform: translate(-50%, -50%);
                color: #00b1ff;
                transition: color 0.5s;
            }

            &:hover {
                background-color: #00b1ff;

                i {
                    color: white;
                }
            }
        }
    }

    #fillMe {
        @include myGrid(repeat(1, 1fr), center, center, 30px);

        .toDel {
            transition: left 0.5s;
            position: relative;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
        }

        .cont {
            border-radius: 10px;
            overflow: hidden;
            padding: 30px 0;
            @include myFlex(column);
            transition: box-shadow 0.5s;
            position: relative;
            background-image: url("~@/assets/images/backgrounds/winnerBg.svg");
            background-size: cover;
            background-position: center center;

            &:after {
                background-color: #e5eff7;
                opacity: 1;
                content: "";
                width: 100%;
                height: 100%;
                z-index: 0;
                position: absolute;
                transition: opacity 0.5s;
            }

            .arrow {
                margin: 0;
                font-size: 20px;
                transform: translateX(25%);
                opacity: 0;
                width: 30px;
                z-index: 1;
                transition: opacity 0.5s;
            }

            .number {
                text-align: center;
                background-color: #00b1ff;
                color: white;
                font-size: 40px;
                padding: 20px;
                // width: 50px;
                // height: 50px;
                line-height: 48px;
                font-weight: 700;
                border-radius: 25px;
                z-index: 1;
                transition: all 0.5s;
            }

            h2 {
                color: black;
                font-weight: 700;
                font-size: 24px;
                margin-bottom: 0;
                z-index: 1;
                transition: color 0.5s;
                margin-top: 40px;
            }

            p {
                color: black;
                font-size: 18px;
                margin-top: 10px;
                transition: color 0.5s;
                z-index: 1;
            }

            &:hover {
                box-shadow: 0px 0px 20px rgba(47, 20, 50, 0.31);

                .number {
                    background-color: #fff;
                    color: #2f80ed;
                    box-shadow: 0px 2px 4px rgba(47, 20, 50, 0.48);
                }

                h2,
                p {
                    color: #fff;
                }

                .arrow {
                    opacity: 1;
                }

                &:after {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #lastWinners {
        #fillMe {
            grid-template-columns: 1fr;

            .toDel {
                .cont {
                    .number {
                        width: 60%;
                    }

                    h2 {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@keyframes fromRight {
    from {
        left: 3000px;
    }

    to {
        left: 0px;
    }
}

@keyframes toLeft {
    from {
        left: 0px;
    }

    to {
        left: -3000px;
    }
}

@keyframes fromLeft {
    from {
        left: -3000px;
    }

    to {
        left: 0px;
    }
}

@keyframes toRight {
    from {
        left: 0px;
    }

    to {
        left: 3000px;
    }
}

#organizers {
    .myContainer {
        @include myGrid(repeat(3, 1fr));

        div {
            margin-top: 50px;
            text-align: left;
            @include myFlex(column);

            img {
                width: 150px;
                filter: grayscale(100%);
                transition: filter 0.5s;
            }

            span {
                min-height: 175px;
            }

            .bigger {
                width: 250px;
            }

            p {
                justify-self: left;
                text-align: center;
            }

            &:hover {
                img {
                    filter: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #organizers {
        h2 {
            font-size: 36px;
        }

        .myContainer {
            grid-template-columns: 1fr;

            div {
                p {
                    text-align: center;
                }
            }
        }
    }
}

#plakat {
    .grod {
        @include myGrid(1fr 1fr);

        div {
            img {
                width: 325px;
                float: right;
                margin-right: 40px;
            }

            p {
                margin-bottom: 30px;
            }

            a {
                font-weight: bold;
                background-color: #00b1ff;
                padding: 10px 20px;
                border-radius: 10px;
                transition: box-shadow 0.5s;

                &:hover {
                    box-shadow: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    #plakat {
        .grod {
            grid-template-columns: 1fr;

            div {
                width: 100%;
                text-align: center;

                .left {
                    text-align: center;
                }

                img {
                    float: initial;
                    width: 300px;
                    margin: auto;
                }
            }
        }
    }
}

#contact {
    img {
        width: 100%;
    }

    .grod {
        @include myGrid(1fr 1fr 1fr 2fr, top, left, 20px);

        .mobileFirst {
            @include myGrid(1fr 8fr);
        }
    }
}

@media only screen and (max-width: 768px) {
    #contact {
        .grod {
            @include myGrid(1fr 1fr, top, left);

            div {
                order: 1;
                margin-bottom: 20px;
            }

            .mobileFirst {
                order: 0;
            }
        }
    }
}

#video {
    width: 100%;
    overflow: hidden;
    background-color: black;
    padding-bottom: 120px;

    .white {
        color: white;
    }

    .holder {
        width: 60%;
        margin: auto;
    }
}

@media only screen and (max-width: 768px) {
    #video {
        .holder {
            width: 100%;
        }
    }
}

#howTo {
    .subTitle {
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    margin-bottom: 240px;
    @include myFlex(column);

    a {
        margin-top: 40px;
        text-align: center;
        @include myFlex(row);
    }

    .container {
        @include myGrid(1fr 1fr);
        margin: 40px 0;
        width: 80%;
        margin: auto;

        .cat {
            text-align: center;
        }

        ul {
            li {
                margin: 40px 0;
                font-size: 18px;
            }
        }
    }
}

@media only screen and (max-width: 1440px) {
    #howTo {
        .container {
            .cat {
                @include myFlex(row);

                img {
                    width: 90%;
                }
            }

            ul {
                li {
                    font-size: 16px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #howTo {
        .subTitle {
            margin-left: 0;
        }

        .container {
            .cat {
                img {
                    width: 100%;
                }
            }

            ul {
                li {
                    font-size: 14px;
                    margin: 20px 0;
                }
            }
        }

        a {
            margin-top: 40px;
            @include myFlex(row);
            text-align: center;
        }
    }
}

@media only screen and (max-width: 450px) {
    #howTo {
        margin-bottom: 150px;

        .subTitle {
            margin-bottom: 20px;
        }

        .container {
            @include myGrid(1fr);

            ul {
                margin-bottom: 20px;
            }
        }
    }
}
.home-links a {
    margin-right: 1rem;
}
