// SECTION 1
#head {
    iframe {
        height: 70vh;
        margin-bottom: 40px;
    }

    .grod {
        @include myGrid(1fr 1fr, center top);
        margin-top: 50px;

        div {
            p {
                font-size: 30px;
                font-weight: 600;
                line-height: 40px;
            }

            ul {
                list-style: none;
                padding-left: 40px;

                li {
                    position: relative;
                    padding: 0;
                    font-size: 18px;
                    line-height: 20px;
                    margin-bottom: 10px;
                }

                li:before {
                    content: "\2022";
                    color: #00b1ff;
                    font-size: 40px;
                    line-height: 40px;
                    position: absolute;
                    left: -25px;
                    top: -19px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #head {
        iframe {
            height: 40vh;
        }

        .grod {
            grid-template-columns: 1fr;

            div {
                p {
                    font-size: 20px;
                    line-height: 28px;
                }
            }
        }
    }
}

// SECTION 2

.mentorBg {
    background-image: url("~@/assets/images/backgrounds/mentorBg.svg");
    @include bgOverride(20vh);
    background-size: contain;
    background-position: center 65%;
}

#about {
    div {
        background-image: url("~@/assets/images/backgrounds/bgForStuff.svg");
        background-position: center center;
        background-size: contain;
        @include bgOverride(150px);
        @include myFlex(column);
        margin: -100px 0 -100px 0;
        text-align: center;

        p {
            font-size: 36px;
            width: 90%;
            color: #303351;
            line-height: 40px;
        }

        h3 {
            font-size: 40px;
            line-height: 44px;
            font-weight: 800;
            width: 90%;
            margin-bottom: 0;
            color: #303351;
        }
    }
}

// SECTION 3

#ctaMentor {
    .grod {
        @include myGrid(1fr 1fr, center, space-around, 100px);

        div {
            background-color: white;
            padding: 40px;

            p {
                font-size: 20px;
                line-height: 28px;
            }

            a {
                div {
                    background-color: #00b1ff;
                    padding: 0;
                    @include myFlex(row);
                    width: 4em;
                    height: 4em;
                    border-radius: 50px;

                    i {
                        color: white;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #about {
        div {
            text-align: left;
            @include bgOverride(0px);
            padding: 30px;
            background-size: cover;
            border-radius: 20px;
            background-position-x: -80px;

            h3 {
                font-size: 18px;
                line-height: 28px;
                font-weight: 700;
            }

            p {
                text-align: center;
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
            }
        }
    }

    #ctaMentor {
        .grod {
            grid-template-columns: 1fr;
            grid-gap: 50px;
        }
    }

    .mentorBg {
        padding: 0;
        margin: 0;
    }
}

.wrapperAttention {
    background-image: url("~@/assets/images/backgrounds/disksBg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @include bgOverride(30px);
}

#attentionMentor {
    @include myFlex(column);

    .textIcon {
        background-color: #00b1ff;
        color: white;
        width: 75px;
        height: 75px;
        border-radius: 15px;
        @include myFlex(row);
        font-size: 30px;
        font-weight: 700;
    }

    h2 {
        // margin-bottom: 0;
    }

    p {
        text-align: center;
        color: #6f838d;
        line-height: 160%;
        font-size: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .wrapperAttention {
        background-image: none;
        @include bgOverride(0px);
    }

    #attentionMentor {
        p {
            font-size: 18px;
        }
    }
}

#howMentorsWork {
    .grod {
        margin-top: 100px;
        @include myGrid(1fr 1fr 1fr, top, center);

        .flexington {
            @include myGrid(60px 7fr, top, top, 30px);

            .myIcon {
                width: 100%;
                @include myFlex(column);
                position: relative;
                height: 60px;

                img {
                    position: absolute;
                    width: 60px;
                    height: 60px;
                    top: 0;
                }

                p {
                    // position: relative;
                    margin: 0;
                    // top: 0;
                    font-size: 30px;
                    color: #00b1ff;
                    font-weight: 700;
                    text-align: center;
                }
            }
        }

        div {
            h3 {
                margin-top: 0;
            }

            p {
                margin-top: 0;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #howMentorsWork {
        .grod {
            @include myGrid(1fr, top, center);
        }
    }
}

.mentorListBg {
    background-image: url("~@/assets/images/backgrounds/mentorListbG.svg");
    @include bgOverride(20vh);
    background-size: contain;
    background-position: center;
}
