body {
    position: relative;
}

#aboutNomination {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 70%;

    h1 {
        font-size: 100px;
        margin: 60px 0;
        position: relative;
        background-color: white;
        line-height: 140px;

        &::before {
            position: absolute;
            z-index: -1;
            bottom: -10px;
            left: calc(50% - 150px);
            content: " ";
            width: 300px;
            height: 10px;
            background-color: #00b1ff;
        }
    }

    p {
        text-align: center;
        font-size: 30px;
        width: 70%;
        margin: auto;
        line-height: 40px;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 768px) {
    #aboutNomination {
        width: 90%;

        h1 {
            font-size: 30px;
            line-height: 40px;

            &::before {
                height: 5px;
                bottom: -5px;
            }
        }

        p {
            width: 100%;
            font-size: 24px;
        }
    }
}

#partner {
    width: 60%;
    margin: auto;
    margin-bottom: 60px;

    div {
        @include myGrid(1fr, center, flex-start);
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        p {
            text-align: left;
            margin: 0 10px;
        }

        a {
            margin: 40px 10px;

            img {
                width: 100%;
                min-width: 275px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #partner {
        div {
            grid-template-columns: 1fr;

            a {
                img {
                    min-height: 0px;
                }
            }
        }
    }
}

#ageGroups {
    z-index: 1;

    .ageGroupsWrapper {
        @include myFlex(row, top, space-between);

        .ageGroupWrapper {
            margin: 0 10px;
            border-radius: 20px;
            width: 100%;
            overflow: hidden;

            .ageGroupPreview {
                position: relative;
                @include myFlex(column);

                img {
                    min-width: 100%;
                    height: 200px;
                    object-fit: cover;
                }

                .age {
                    @include myFlex(column);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 200px;
                    color: white;

                    h2 {
                        font-size: 30px;
                    }

                    p {
                        font-size: 18px;
                        max-width: 600px;
                        text-align: center;
                    }
                }
            }

            .explanation {
                margin: auto;
                max-width: 600px;
                padding: 20px 40px;

                h3 {
                    margin-bottom: 10px;
                }

                li {
                    margin-bottom: 10px;
                }

                a {
                    color: black;
                    margin: 10px;

                    p {
                        width: initial;
                        color: black;
                        text-transform: uppercase;
                        padding: 20px;
                        font-weight: 600;
                        text-align: center;
                        margin: auto;
                        border: 1px solid black;
                        border-radius: 10px;
                        transition: 0.3s all;

                        &:hover {
                            color: #2f80ed;
                            border-color: #2f80ed;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #ageGroups {
        .ageGroupsWrapper {
            @include myFlex(column, top, space-between);

            .ageGroupWrapper {
                margin: 0;
                margin-bottom: 30px;

                .explanation {
                    padding: 20px 15px;
                }

                .ageGroupPreview {
                    .age {
                        p {
                            width: 90%;
                        }
                    }
                }
            }
        }
    }
}

.kriteriiBg {
    background-image: url("~@/assets/images/backgrounds/kriteriiBg.svg");
    background-size: contain;
    padding: 800px 0;
    background-repeat: no-repeat;
    margin: -800px 0;
    background-position: center center;
}

#kriterii {
    text-align: center;

    h1 {
        text-transform: uppercase;
    }

    .kriterii {
        @include myGrid(1fr 1fr 1fr);
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

        .innerWrapper {
            background-image: url("~@/assets/images/backgrounds/kriterii_bg.svg");
            background-size: cover;
            height: 350px;
            width: 350px;
            @include myFlex(column);
            padding: 20px;
            position: relative;
            color: white;
            border-radius: 10px;
            overflow: hidden;
            margin: auto;
            box-sizing: border-box;
            margin-bottom: 11%;

            .button {
                text-decoration: none;
                box-sizing: border-box;
                color: #00b1ff;
                font-weight: 700;
                padding: 10px 20px;
                font-size: 14px;
                border-radius: 5px;
                margin-bottom: 20px;
                margin-top: 20px;
                text-align: center;
                background-color: white;

                &:hover {
                    box-shadow: 0px 4px 10px #13467b;
                }
            }

            img {
                width: 100px;
            }

            h2 {
                font-size: 20px;
                font-weight: bold;
                text-transform: uppercase;
                margin: 15px 0;
            }

            p {
                margin: 0;
                width: 85%;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #kriterii {
        .kriterii {
            .innerWrapper {
                h2 {
                    margin: 15px 0;
                }

                p {
                    width: 100%;
                }
            }
        }
    }
}

/* Section 3 */

.vimogiBg {
    background-image: url("~@/assets/images/backgrounds/vimogiBg.svg");
    background-size: 700px;
    background-position-x: 0px;
    background-position-y: 300px; //TODO: fix padding, must be 200px
    background-repeat: no-repeat;
}

#vimogi {
    @include myGrid(2fr 2fr);

    h1 {
        text-align: right;
        align-self: flex-start;
        margin-right: 40px;
        margin-top: 0;
    }

    .vimogi {
        width: 100%;

        .vimogaWrapper {
            @include myFlex(row, flex-start, flex-start);
            margin-bottom: 40px;

            .icon {
                background-image: url("~@/assets/images/icons/Ellipse1.webp");
                background-size: cover;
                background-repeat: no-repeat;
                padding: 20px;
                width: 40px;
                height: 40px;
                margin-right: 40px;
                justify-self: center;
            }

            .text {
                h3 {
                    font-size: 16px;
                    font-weight: 700;
                }

                p {
                    font-size: 14px;
                    opacity: 0.8;
                }

                ul {
                    margin-left: 20px;

                    li {
                        font-size: 14px;
                        opacity: 0.8;
                        margin-bottom: 10px;
                    }
                }

                .button {
                    text-decoration: none;
                    box-sizing: border-box;
                    color: #00b1ff;
                    font-weight: 700;
                    padding: 10px 20px;
                    font-size: 14px;
                    border-radius: 5px;
                    background-color: white;
                    margin-bottom: 20px;
                    margin-top: 20px;
                    text-align: center;

                    &:hover {
                        box-shadow: 0px 4px 10px #13467b;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .vimogiBg {
        background-image: none;
    }

    #vimogi {
        grid-template-columns: 1fr;

        h1 {
            text-align: center;
        }
    }
}

#registration {
    min-height: 300px;
    margin: auto;
    margin-bottom: 120px;

    a {
        text-align: center;
        max-width: 300px;
        color: white;
        margin: auto;

        .regBtn {
            border-radius: 20px;
            margin: auto;
            overflow: hidden;
            font-weight: 700;
            max-width: 300px;
            background-color: #2f80ed;
            padding: 20px 40px;
            transition: box-shadow 0.5s;
            box-sizing: border-box;

            &:hover {
                box-shadow: none;
            }
        }
    }

    h2 {
        margin: 1% auto;
    }
}

@media only screen and (max-width: 768px) {
    #registration {
        a .regBtn {
            width: 90%;
            padding: 20px 0px;
        }

        .title {
            font-size: 1.5em;
        }
    }
}

#CTAbuttons {
    .CTAbutton {
        padding: 5px 20px;
        color: #00b1ff;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 18px;
        border-radius: 10px;
        @include myFlex(row, center, space-between);
        cursor: pointer;
        margin-bottom: 40px;
        text-decoration: none;
    }

    .CTAbutton:hover {
        box-shadow: 0px 4px 10px #333;
    }

    .buttonImg {
        width: 30px;
        height: 22px;
    }
}

#judgeList {
    .judgeButton {
        text-transform: uppercase;
        width: 300px;
        margin: auto;
        font-size: 16px;
        font-weight: 700;
        padding: 10px;
        background-color: #00b1ff;
        border-radius: 10px;
        text-align: center;
    }
}
