.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.blueGrad {
    background: rgba(2, 0, 36, 0.8);
    background: linear-gradient(
        90deg,
        rgba(0, 212, 255, 0.8) 0%,
        rgba(9, 9, 121, 0.8) 100%,
        rgba(2, 0, 36, 0.8) 0%
    );
}

.white {
    color: white;
}

span {
    font-weight: 700;
}

.redGrad {
    background: rgba(2, 0, 36, 0.8);
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 0.8) 0%,
        rgba(9, 9, 121, 0.8) 0%,
        rgba(255, 59, 0, 0.8) 100%
    );
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #2f80ed;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
    right: 0;
}

.noTrigger-hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.noTrigger-hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #2f80ed;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

@mixin myFlex($direction, $align: center, $justify: center) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin myGrid($columns, $align: center, $justify: center, $gap: 10px) {
    display: grid;
    grid-template-columns: $columns;
    align-items: $align;
    justify-content: $justify;
    grid-gap: $gap;
    box-pack: $justify;
}

@mixin bgOverride($size: 2vh) {
    padding: $size 0px $size 0px;
    $size: -$size;
    margin: $size 0px $size 0px;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;

    &:hover {
        color: white;
    }
}

p {
    font-size: 16px;
    margin: 15px 0px;
    line-height: 20px;
}

.shadow {
    box-shadow: 0px 0px 18px rgba(67, 70, 155, 0.24);
}

.myMobile {
    display: none;
}

html {
    scroll-behavior: smooth;
}

.btn,
.button {
    border-radius: 10px;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    margin: 5px;
    transition: 0.3s background-color;
    width: initial;
    background-color: #40c5ff;
    text-transform: uppercase;
    display: block;
    &:hover {
        background-color: rgb(0, 102, 204);
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

html,
body {
    // height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Montserrat;

    .section {
        width: 80%;
        margin: auto;
        padding-top: 120px;
        margin-top: -120px;
        margin-bottom: 120px;
    }

    .smallSection {
        width: 60%;
        margin: auto;
        margin-bottom: 120px;
    }

    .title {
        color: #00b1ff;
        line-height: 48px;
        text-align: center;
        font-weight: 700;
        font-size: 40px;
        margin: 40px 0px;
    }

    .bigger {
        font-size: 50px;
    }

    .subTitle {
        color: #00b1ff;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
    }

    .myWhite {
        color: #fff;
    }

    .left {
        text-align: left;
    }
}

@media only screen and (max-width: 768px) {
    body {
        .section {
            width: 90%;
        }

        .smallSection {
            width: 90%;
        }

        .title {
            font-size: 2em;
        }
    }

    .myMobile {
        display: block;
    }

    .myDesktop {
        display: none !important;
    }
}

#mediaLinks {
    .grod {
        @include myGrid(repeat(4, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        .discord:hover {
            background-color: #7289da;
        }

        .telegram:hover {
            background-color: #25a2e1;
        }

        .facebook:hover {
            background-color: #1877f1;
        }

        .faq:hover {
            background-color: #48a0dc;
        }

        .discordHovered {
            background-color: #7289da;
        }

        .telegramHovered {
            background-color: #25a2e1;
        }

        .facebookHovered {
            background-color: #1877f1;
        }

        .faqHovered {
            background-color: #48a0dc;
        }

        a {
            padding: 10px 40px;
            border-radius: 10px;
            @include myFlex(row, center, flex-start);
            transition: box-shadow 0.5s, background-color 0.5s, color 0.5s;
            color: black;

            .icon-link,
            img {
                margin-right: 10px;
                color: white;
            }

            p {
                font-size: 18px;
                font-weight: 500;
                margin: 0;
            }

            &:hover {
                color: white;
                box-shadow: none;
            }
        }

        .aHovered {
            color: white;
            box-shadow: none;
        }
    }
}

@media only screen and (max-width: 768px) {
    #mediaLinks {
        .grod {
            grid-template-columns: 1fr 1fr;

            a {
                padding: 10px;

                img {
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                }

                p {
                    font-size: 12px;
                }
            }
        }
    }
}

$navbar-height: 3.25rem;
$speed: 86ms !default;
$easing: ease-out !default;

.burger {
    cursor: pointer;
    height: $navbar-height;
    position: relative;
    width: $navbar-height;
    span {
        background-color: currentColor;
        display: block;
        height: 1px;
        left: calc(50% - 8px);
        position: absolute;
        transform-origin: center;
        transition-duration: $speed;
        transition-property: background-color, opacity, transform;
        transition-timing-function: $easing;
        width: 16px;
        &:nth-child(1) {
            top: calc(50% - 6px);
        }
        &:nth-child(2) {
            top: calc(50% - 1px);
        }
        &:nth-child(3) {
            top: calc(50% + 4px);
        }
    }
    &:hover {
        //   background-color: rgba(0,0,0,.05);
    }
    // Modifers
    &.is-active {
        span {
            &:nth-child(1) {
                transform: translateY(5px) rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: translateY(-5px) rotate(-45deg);
            }
        }
    }
}

.icon-link {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 40px;
    width: 40px;
    min-width: 40px;
    border-radius: 20px;
    .ite {
        display: inline-block;
        font-size: 24px;
        width: 24px;
        height: 24px;
    }
}
