<template>
    <Layout>
        <section class="section" id="aboutNomination">
            <h1 class="title" v-text="nomination.title"></h1>
            <p v-text="nomination.desc" />
        </section>
        <notFullNomaintionModal :display="nomination.status == 'no'" />

        <section id="ageGroups" class="section">
            <div class="ageGroupsWrapper">
                <div
                    class="ageGroupWrapper shadow"
                    v-for="(ageRow, index) in ageData"
                    :key="index"
                >
                    <div class="ageGroupPreview">
                        <g-image
                            :src="ageRow.image"
                            :alt="'Вікова категорія ' + (index + 1)"
                        />
                        <div
                            class="age"
                            :class="{
                                redGrad: index == 1,
                                blueGrad: index == 0,
                            }"
                        >
                            <h2>
                                Від {{ ageRow.from }} до {{ ageRow.to }} років
                            </h2>
                            <p>Тема роботи: {{ ageRow.theme }}</p>
                        </div>
                    </div>
                    <div
                        class="explanation"
                        v-if="ageRow.task"
                        v-html="ageRow.task"
                    ></div>
                </div>
            </div>
            <p>
                *Допускається розробка та подача проектів у складі команди,
                проте зауважте, що у разі перемоги - одна робота отримує одну
                нагороду.
            </p>
        </section>
        <div class="kriteriiBg">
            <section id="kriterii" class="section">
                <h1 class="title">
                    Критерії за якими будуть<br />оцінювати вашу роботу
                </h1>
                <div class="kriterii">
                    <div
                        class="innerWrapper shadow"
                        v-for="(criterion, index) in nomination.criterions"
                        :key="index"
                    >
                        <g-image :src="criterion.icon" />
                        <h2>
                            <span v-html="criterion.title"></span>
                        </h2>
                        <div v-html="criterion.desc" />
                    </div>
                </div>
            </section>
        </div>
        <div class="vimogiBg">
            <section class="section" id="vimogi">
                <h1 class="title">Вимоги до<br />вашої роботи:</h1>
                <div class="vimogi">
                    <div
                        class="vimogaWrapper"
                        v-for="(requirement, index) in nomination.requirements"
                        :key="index"
                    >
                        <g-image :src="requirement.icon" class="icon" />
                        <div class="text">
                            <h2>
                                <span v-html="requirement.title"></span>
                            </h2>
                            <div v-html="requirement.desc" />
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <section class="section" id="registration">
            <h2 class="title">РЕЄСТРАЦІЮ ВІДКРИТО</h2>
            <a href="https://reg.italent.org.ua/" target="_blank">
                <div class="regBtn shadow">ЗАРЕЄСТРУВАТИСЯ</div>
            </a>
        </section>
        <section id="CTAbuttons" class="section">
            <a
                href="//winners.italent.org.ua/"
                target="_blank"
                class="CTAbutton shadow unselectable"
            >
                <p>роботи попередніх сезонів</p>
                <g-image
                    class="buttonImg"
                    src="~/assets/images/icons/Vector-3.webp"
                    alt="button"
                />
            </a>
            <!--<g-link to="/mentorship/" class="CTAbutton shadow unselectable">
                <p>потрібна допомога с проектом?</p>
                <g-image
                    class="buttonImg"
                    src="~/assets/images/icons/Vector-3.webp"
                    alt="button"
                />
            </g-link>-->
        </section>
        <section
            id="judgeList"
            class="section"
            v-if="nomination.belongsTo.edges.length"
        >
            <h1 class="title">СУДДІ НОМІНАЦІЇ</h1>
            <JudgeGrid
                id="judgeGrod"
                :personEdges="nomination.belongsTo.edges"
            />

            <g-link to="/judges/">
                <div class="judgeButton shadow">усі судді</div>
            </g-link>
        </section>
    </Layout>
</template>

<script>
import notFullNomaintionModal from "~/components/modal/notFullNomaintionModal.vue";
import JudgeGrid from "~/components/JudgeGrid.vue";

export default {
    name: "NomaintionTemplate",
    components: {
        notFullNomaintionModal,
        JudgeGrid,
    },
    computed: {
        nomination() {
            return (
                this?.$page?.nomination ?? {
                    ageData: [],
                    belongsTo: {
                        edges: [],
                    },
                }
            );
        },
        ageData() {
            return Object.values(this.nomination.ageData);
        },
    },
    metaInfo() {
        return {
            title: this.nomination.title,
            meta: [
                {
                    name: "description",
                    content: this.nomination.metaDesc ?? this.nomination.desc,
                },
            ],
        };
    },
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/nomination.scss";

.buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
}
</style>

<page-query>
query ($id: ID!) {
  nomination(id: $id) {
    title
    slug
    status
    icon
    desc
    sponsor {
        title
        image
        desc
        link
    }
    ageData {
        from
        to
        theme
        task
        image
    }
    criterions {
        title
        desc
        icon
    }
    requirements{
        title
        desc
        icon
    }
    belongsTo {
        edges {
            node {
              ... on Judge {
                name
                photo
                caption
              }
            }
        }
    }
  }
}
</page-query>
