<template>
    <Layout>
        <section class="section">404 page</section>
    </Layout>
</template>

<script>
export default {
    name: "NotFoundPage",
    beforeMount() {
        const { path } = this.$route;

        if (/^\/nominations\//.test(path)) {
            this.$router.push(path.replace("/nominations/", "/nomination/"));
        } else if (/_/.test(path)) {
            this.$router.push(path.replace("_", "-"));
        }

        //TODO: send 404 pages to log
    },
    metaInfo() {
        return {
            title: 404,
        };
    },
};
</script>
