<template>
    <Layout>
        <section class="section" id="advice">
            <div class="title left">Поради до операторської роботи</div>
            <div class="advices">
                <a
                    href="https://bit.ly/2ECJDF7"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <div class="advice">
                        <h3>Як зробити красиве відео від Київського блогера</h3>
                    </div>
                </a>
                <a
                    href="//bit.ly/2BSGoHJ"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <div class="advice">
                        <h3>Правило 180 градусів</h3>
                    </div>
                </a>
                <a
                    href="//bit.ly/2H5PnsJ"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <div class="advice">
                        <h3>Візуальна повість в цілому</h3>
                    </div>
                </a>
                <a
                    href="https://bit.ly/2BZ0xfm"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <div class="advice">
                        <h3>Класне зображення з кадрування</h3>
                    </div>
                </a>
                <a
                    href="https://bit.ly/2tGvNeF"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <div class="advice">
                        <h3>Класна стаття про відеомонтаж</h3>
                    </div>
                </a>
                <a
                    href="https://bit.ly/2tQTzF3"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <div class="advice">
                        <h3>Бонус</h3>
                    </div>
                </a>
            </div>
        </section>
    </Layout>
</template>

<script>
export default {
    name: "AdviceForOperatorsPage",
    metaInfo: {
        title: "Поради до операторської роботи",
    },
};
</script>
<style lang="scss" scoped>
#advice {
    .advices {
        @include myGrid(1fr 1fr 1fr);
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        a {
            width: 100%;
            color: #21749b;
            transition: 0.3s color;
            @include myFlex(row);
            flex-wrap: wrap;

            .advice {
                width: 300px;
                @include myFlex(row);
                height: 100px;
                text-align: center;
                padding: 30px;
                margin-bottom: 40px;
                border: 2px solid #21749b;
                border-radius: 10px;
                transition: 0.3s border-color;

                &:hover {
                    border-color: black;
                }
            }

            &:hover {
                color: black;
            }
        }
    }
}
</style>
