<template>
    <Layout>
        <section class="section">
            <p class="broadcastTitle">Трансляції</p>
            <div class="gameBlock">
                <p class="gameTitle">Dota 2</p>
                <div class="playerRow">
                    <TwitchPlayer video="840351273" height="400" width="711" plays-inline/>
                    <TwitchPlayer video="827628071" height="400" width="711" plays-inline/>
                </div>
            </div>

            <div class="gameBlock">
                <p class="gameTitle">CS: GO</p>
                <div class="playerRow">
                    <TwitchPlayer video="841465342" height="400" width="711" plays-inline/>
                    <TwitchPlayer video="833558376" height="400" width="711" plays-inline/>
                </div>
                <div class="playerRow">
                    <TwitchPlayer video="841441804" height="400" width="711" plays-inline/>
                    <TwitchPlayer video="833521826" height="400" width="711" plays-inline/>
                </div>
            </div>
        </section>
    </Layout>
</template>

<script>
import TwitchPlayer from "../components/TwitchPlayer";

export default {
    name: "Broadcast",
    components: {TwitchPlayer},
    metaInfo() {
        return {
            title: 'Трансляції',
        };
    },
};
</script>

<style scoped lang="scss">
.broadcastTitle {
    font-size: 35px;
    text-align: center;
}

.playerRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 1422px) {
    .playerRow {
        display: block;
    }
}

.gameTitle {
    font-size: 30px;
    padding: 1rem
}
</style>
