<template>
    <Layout>
        <section class="section" id="faq">
            <h1 class="title left">FAQ</h1>
            <h4 class="subtitle">frequently asked questions</h4>
            <div class="legend">
                <span class="redLeg">●</span>
                - питання про реєстрацію
                <span class="greenLeg">●</span>
                - питання про фінал
                <span class="blueLeg">●</span>
                - інші питання
            </div>
            <div class="questionsGrid">
                <div class="blue questionBox shadow">
                    <h2>Чи можу я приймати участь у двох номінаціях?</h2>
                    <p>Максимум 3 номінації.</p>
                </div>
                <div class="red questionBox bigBox shadow">
                    <h2>
                        Навіщо при реєстрації надавати фото свідоцтва про
                        народження або першої сторінки паспорта?
                    </h2>
                    <p>
                        На наш конкурс реєстрація є відкритою для усіх бажаючих,
                        тому ми маємо впевнитись, що вказані учасником дані
                        відповідають дійсності. Ви можете замалювати на фото
                        серію та номер документу, якщо бажаєте.
                    </p>
                </div>
                <div class="red questionBox shadow">
                    <h2>Яка дата кінця реєстрації?</h2>
                    <p>25 грудня 2020</p>
                </div>
                <div class="green questionBox bigBox shadow">
                    <h2>На фінал потрібно їхати за свій рахунок?</h2>
                    <p>
                        До вашого навчального закладу буде надіслано лист —
                        виклик на базі якого заклад може оплатити вам проїзд,
                        але він може і відмовитись, у такому разі треба їхати за
                        свій рахунок.
                    </p>
                </div>
                <div class="red questionBox shadow">
                    <h2>Як змінити реєстраційні дані?</h2>
                    <p>
                        Коли ви заповнили реєстраційну форму вам на пошту
                        прийшов лист. У листі є посилання на редакцію введених
                        вами даних.
                    </p>
                </div>
                <div class="red questionBox shadow">
                    <h2>Чи я можу реєструвати інших людей?</h2>
                    <p>Так, але з їх згоди.</p>
                </div>
                <div class="red questionBox shadow">
                    <h2>Чи обов'язково надавати свідоцтво про народження?</h2>
                    <p>
                        Так, але можна будь — який документ, що затверджує вашу
                        особистість, вік та громадянство.
                    </p>
                </div>
                <div class="red questionBox bigBox shadow">
                    <h2>Як рахується вік учасника?</h2>
                    <p>
                        Вік учасника визначається відносно дати відкриття
                        реєстрації. Тобто, якщо на момент відкриття реєстрації
                        учаснику 14 років, то ми будемо вважати що учаснику 14
                        років навіть якщо йому вже 15 на наступний день.
                    </p>
                </div>
                <div class="red questionBox shadow">
                    <h2>Що писати у формі якщо немає сайту закладу.</h2>
                    <p>Email закладу.</p>
                </div>
                <div class="red questionBox shadow">
                    <h2>
                        Якщо файл з свідоцтвом, або паспортом не названий
                        (прізвище, ім'я) то це нічого страшного?
                    </h2>
                    <p>Нам буде дуже не зручно. 🙂</p>
                </div>
                <div class="blue questionBox shadow">
                    <h2>Як стати модератором?</h2>
                    <p>
                        Зверніться до організаторів у будь — якій соц. мережі.
                    </p>
                </div>
                <div class="red questionBox shadow">
                    <h2>
                        Чи можна реєструватися учаснику якому більше 18ти років?
                    </h2>
                    <p>Ні.</p>
                </div>
                <div class="red questionBox shadow">
                    <h2>Що треба надсилати у архіві з роботою?</h2>
                    <p>
                        Вам необхідно дуже уважно ознайомитися зі сторінкою
                        своєї номінації.
                    </p>
                </div>
                <div class="blue questionBox bigBox shadow">
                    <h2>Що я отримаю за участь?</h2>
                    <p>
                        Усі, без виключень отримають коментарі професіоналів до
                        своїх робіт. Усі хто звернеться до адміністрації отримає
                        диплом учасника. Фіналісти отримають призи та безцінний
                        досвід презентації та захисту своїх робіт.
                    </p>
                </div>
                <div class="blue questionBox bigBox shadow">
                    <h2>
                        Чи зможу я переглянути роботи та оцінки інших
                        конкурсантів?
                    </h2>
                    <p>
                        Так, після оцінювання ми відкрито публікуємо усі роботи,
                        оцінки та коментарі до них. Ви також можете переглянути
                        роботи учасників та переможців минулих сезонів у
                        відповідному розділі меню сайту.
                    </p>
                </div>
                <div class="red questionBox shadow">
                    <h2>Чи можна подавати більше однієї роботи в номінацію?</h2>
                    <p>Ні. Від одного учасника — одна робота в номінацію.</p>
                </div>
                <div class="green questionBox bigBox shadow">
                    <h2>Як відбувається захист робіт на фіналі?</h2>
                    <p>
                        В кожній номінації формат відрізняється, але загальний
                        принцип наступний: Ви презентуєте свою роботу та
                        відповідаєте на питання суддів і інших конкурсантів. Усі
                        фіналісти окремо отримають детальну інформацію про
                        формат захисту.
                    </p>
                </div>
                <div class="green questionBox shadow">
                    <h2>Чи можна доробити роботу, яка пройшла до фіналу?</h2>
                    <p>
                        Так, на захисті Ви можете представляти дороблену версію
                        своєї роботи.
                    </p>
                </div>
            </div>
        </section>
    </Layout>
</template>

<script>
export default {
    name: "FaqItPage",
    metaInfo: {
        title: "FAQ",
        meta: [
            {
                name: "description",
                content:
                    "Найчастіші запитання які виникають у участників всеукраїнського конкурсу з IT так кіберспорту iTalent.",
            },
        ],
    },
};
</script>
<style lang="scss" scoped>
@import "~/assets/scss/faq.scss";
</style>
