<template>
    <Layout>
        <section class="section" id="banner">
            <div></div>
            <div class="container">
                <g-image
                    src="~/assets/images/logos/iTalent_logo_vertical.svg"
                    alt="logo"
                />
                <h2>
                    ТУТ БУДЕ ПОСИЛАННЯ НА ТРАНСЛЯЦІЮ ФІНАЛУ
                    <br /> ПОЧАТОК 05 ЛЮТОГО О 18.00!
                </h2>
                <p>
                    До речі, про фінал, ми дбаємо про безпеку наших учасників,
                    тож він проходитиме онлайн! Не забудьте підтримати своїх фаворитів :))
                </p>
                <div class="buttons">
                    <g-link to="/nomination/prog-text">
                        <div class="button">НОВА НОМІНАЦІЯ ВІД GRAMMARLY</div>
                    </g-link>
                    <a
                        href="https://winners.italent.org.ua/"
                        target="_blank"
                    >
                        <div class="button">РЕЗУЛЬТАТИ VII СЕЗОНУ!</div>
                    </a>
                </div>
                <div class="zaPidtrimki">
                    <a
                        href="https://grammarly.com"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <g-image
                            src="~/assets/images/partners/grammarly_logo.svg"
                            alt="grammarly"
                            immediate
                        />
                    </a>
                    <a
                        href="https://mon.gov.ua"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <g-image
                            src="~/assets/images/partners/mon.webp"
                            alt="mon"
                            immediate
                        />
                    </a>
                    <!-- <a
                        href="https://rozetka.com.ua/search/?text=logitech&producer=42&p=1"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <g-image
                            src="~/assets/images/partners/logitechG.svg"
                            alt="logitech"
                            immediate
                        />
                    </a> -->
                </div>
            </div>
        </section>
        <section class="section" id="video">
            <div class="title white">ВІДЕО З ФІНАЛУ</div>
            <div class="holder">
                <LazyYoutubeVideo
                    src="https://www.youtube.com/embed/0SXxt0hqgJ8"
                    class="youtube-player"
                    preview-image-size="sddefault"
                />
            </div>
        </section>
        <section class="section" id="mediaLinks">
            <div class="grod">
                <a
                    href="https://discord.gg/ywTQTpN"
                    rel="noreferrer"
                    target="_blank"
                    class="button unselectable shadow discord"
                >
                    <div class="icon-link discord">
                        <i class="ite ite-discord" />
                    </div>
                    <p>Приєднуйтеся Discord</p>
                </a>
                <a
                    href="https://telegram.im/@ITalent_ua"
                    rel="noreferrer"
                    target="_blank"
                    class="button unselectable shadow telegram"
                >
                    <div class="icon-link telegram">
                        <i class="ite ite-telegram" />
                    </div>
                    <p>Приєднуйтеся Telegram</p>
                </a>
                <a
                    href="https://www.facebook.com/iTalent.ua/"
                    rel="noreferrer"
                    target="_blank"
                    class="button unselectable shadow facebook"
                >
                    <div class="icon-link facebook">
                        <i class="ite ite-facebook" />
                    </div>
                    <p>Приєднуйтеся Facebook</p>
                </a>
                <a
                    href="/faq-it/"
                    target="_blank"
                    class="button unselectable shadow faq"
                >
                    <div class="icon-link question">
                        <i class="ite ite-question" />
                    </div>
                    <p>Перегляньте FAQ</p>
                </a>
            </div>
        </section>

        <div class="aboutWrap bgOverride">
            <section class="section" id="dates">
                <h1 class="title">ЕТАПИ ПРОВЕДЕННЯ КОНКУРСУ</h1>
                <div class="imgWrap">
                    <g-image src="~/assets/images/backgrounds/steps.svg" class="myDesktop" alt="steps" />
                    <g-image src="~/assets/images/backgrounds/steps_mobile.svg" class="myMobile" alt="steps" />
                </div>
            </section>
            <!--
            <section class="section" id="registration">
                <h2 class="title">РЕЄСТРАЦІЮ ВІДКРИТО</h2>
                <a href target="_blank">
                    <div class="regBtn shadow">ЗАРЕЄСТРУВАТИСЯ</div>
                </a>
            </section>
            -->
            <section class="section" id="mainPartners">
                <h2 class="title">ПАРТНЕРИ</h2>
                <div class="grod generalPartners">
                    <!-- <a
                        href="https://rozetka.com.ua/search/?text=logitech&producer=42&p=1"
                        target="_blank"
                    >
                        <g-image
                            src="~/assets/images/partners/Logitech_print_black_LG.svg"
                            alt="logitech"
                        />
                    </a> -->
                    <a href="https://www.grammarly.com/" target="_blank">
                        <g-image
                            src="~/assets/images/partners/logo-grammarly.svg"
                            alt="grammarly"
                        />
                    </a>
                </div>
                <div class="grod specialPartners">
                    <a href="https://dou.ua/" target="_blank">
                        <g-image
                            src="~/assets/images/partners/dou_logo.svg"
                            alt="dou"
                        />
                    </a>
                    <a href="//cyberzone.kiev.ua/" target="_blank">
                        <g-image
                            src="~/assets/images/partners/cyberzone.svg"
                            alt="cyberzone"
                        />
                    </a>
                    <a href="https://www.insart.com/" target="_blank">
                        <g-image
                            src="~/assets/images/partners/insart.svg"
                            alt="insart"
                        />
                    </a>
                    <a href="//gameinside.ua/" target="_blank">
                        <g-image
                            src="~/assets/images/partners/gameinside_dark.svg"
                            alt="gameinside"
                        />
                    </a>
                </div>
            </section>

            <section class="section" id="about">
                <h1 class="title">ПРО КОНКУРС</h1>
                <div class="myContainer">
                    <div class="holder">
                        <div>
                            <g-image
                                src="~/assets/images/icons/2150094.svg"
                                alt="icon"
                                immediate
                            />
                        </div>
                        <h1 class="subTitle myWhite">ITALENT</h1>
                        <p class="myWhite">
                            перший та найбільший в Україні конкурс з ІТ проектів
                            та кіберспорту серед молоді віком до 19 років
                        </p>
                    </div>
                    <div class="holder">
                        <div>
                            <g-image
                                src="~/assets/images/icons/vesi.svg"
                                alt="icon"
                                immediate
                            />
                        </div>
                        <h1 class="subTitle myWhite">СУДДІ</h1>
                        <p class="myWhite">
                            кращі фахівці провідних ІТ компаній України
                        </p>
                    </div>
                    <div class="holder">
                        <div>
                            <g-image
                                src="~/assets/images/icons/goal.svg"
                                alt="icon"
                                immediate
                            />
                        </div>
                        <h1 class="subTitle myWhite">МЕТА ПРОЕКТУ</h1>
                        <p class="myWhite">
                            надати українській молоді можливість отримання
                            найкращих IT компетенцій та закласти фундамент для
                            професійної реалізації
                        </p>
                    </div>
                    <div class="holder">
                        <div>
                            <g-image
                                src="~/assets/images/icons/teamwork.svg"
                                alt="icon"
                                immediate
                            />
                        </div>
                        <h1 class="subTitle myWhite">УЧАСНИКИ</h1>
                        <p class="myWhite">
                            понад 6000 дітей зі всієї України вже прийняли
                            участь у конкурсі і стали на шлях розкриття свого
                            ІТ-таланту
                        </p>
                    </div>
                </div>
            </section>
        </div>

        <section class="section" id="mediaAboutUs">
            <h2 class="title">ЗМІ ПРО НАС</h2>
            <div class="grod">
                <LazyYoutubeVideo
                    src="https://www.youtube.com/embed/5-0Wlzu0e8Q"
                    class="youtube-player"
                    preview-image-size="sddefault"
                />
                <LazyYoutubeVideo
                    src="https://www.youtube.com/embed/5ZceWbnfJt4"
                    class="youtube-player"
                    preview-image-size="sddefault"
                />
            </div>
        </section>

        <section class="section" id="nominations">
            <NominationCards v-if="nominationsDispay" />
        </section>

        <section class="section" id="cybersport">
            <g-image
                src="~/assets/images/backgrounds/boy.svg"
                alt="cybersport"
            />
            <div>
                <div class="title left">КІБЕРСПОРТ</div>
                <p>
                    Ми зробили окремий сайт для учасників, що хочуть порівняти
                    свій AРМ та стратегічні здібності на кібер аренах
                </p>
                <div class="link">
                    <a class="shadow" href="//cybersport.italent.org.ua/"
                        >ПРИЄДНАТИСЯ ДО БОЮ</a
                    >
                </div>
            </div>
        </section>

        <section class="section" id="judges">
            <div>
                <div class="title left">СУДДІ</div>
                <p>Професіонали з IT - індустрії України!</p>
                <div class="link">
                    <a class="shadow" href="/judges/">ДЕТАЛЬНІШЕ</a>
                </div>
            </div>
            <g-image
                src="~/assets/images/backgrounds/judges.svg"
                alt="judges"
            />
        </section>

        <section class="section" id="plakat">
            <div class="grod">
                <div>
                    <g-image
                        src="~/assets/images/photos/iTalent-plakat-preview.webp"
                        alt="plakat"
                        class="shadow"
                    />
                </div>
                <div>
                    <h2 class="title left">РОЗДРУКУЙ ПЛАКАТ</h2>
                    <p>
                        Повісь у себе у навчальному закладі, на холодильнику, в
                        під'їзді, де завгодно і отримай "+" у карму! :)
                    </p>

                    <a
                        target="_blank"
                        class="shadow"
                        href="/images/iTalent-plakat.pdf"
                        >ЗАВАНТАЖИТИ ПЛАКАТ</a
                    >
                </div>
            </div>
        </section>

        <!--<div class="mentorBg bgOverride">
            <section class="section" id="mentor">
                <div></div>
                <div class="heading">
                    <div class="title left">
                        ЗНАЙДІТЬ СОБІ
                        <br />МЕНТОРА
                    </div>
                    <g-link class to="/mentorship">
                        <div class="shadow mentorBtn">
                            ЗАЕРЄСТРУВАТИСЯ НА МЕНТОРСТВО
                        </div>
                    </g-link>
                </div>
                <div class="info">
                    <div>
                        <g-image
                            src="~/assets/images/icons/mentorIcon1.svg"
                            alt="icon"
                        />
                        <h2 class="left">Хто наші ментори?</h2>
                        <div></div>
                        <div>
                            <ul>
                                <li>
                                    Екперти з ІТ, провідні спеціалісти кращих ІТ
                                    компаній
                                </li>
                                <li>
                                    Викладачі кафедри інформатики та
                                    інтелектуальної власності НТУ ХПІ
                                </li>
                                <li>Викладачі провідних ІТ шкіл</li>
                                <li>Волонтери з Unit Factory</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <g-image
                            src="~/assets/images/icons/mentorIcon1.svg"
                            alt="icon"
                        />
                        <h2 class="left">Чим ментор допоможе?</h2>
                        <div></div>
                        <div>
                            <ul>
                                <li>Практичними порадами по твоєму проекту</li>
                                <li>Цікавими рішеннями</li>
                                <li>Поділитися своїми секретами</li>
                                <li>Надасть впевненості</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <g-image
                            src="~/assets/images/icons/mentorIcon1.svg"
                            alt="icon"
                        />
                        <h2 class="left">Як працювати з ментором?</h2>
                        <div></div>
                        <div>
                            <ul>
                                <li>Сформуй ідею своєї розробки</li>
                                <li>Зареєстуйся на консультацію</li>
                                <li>
                                    Щотижня отримуй консультацію по реалізації
                                    свого проекту
                                </li>
                                <li>Скористайся порадами</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div> -->

        <section class="section" id="lastWinners">
            <div class="upper">
                <h1 class="title left">ПЕРЕМОЖЦІ МИНУЛИХ СЕЗОНІВ</h1>
            </div>
            <div id="fillMe">
                <a
                    class="toDel"
                    target="_blank"
                    href="//winners.italent.org.ua/"
                >
                    <div class="cont">
                        <div class="number">МИНУЛІ СЕЗОНИ</div>
                        <h2>ПЕРЕМОЖЦІ І УЧАСНИКИ</h2>
                        <p>ПЕРЕГЛЯНУТИ</p>
                        <i class="arrow ite ite-arrowRight"></i>
                    </div>
                </a>
            </div>
        </section>

        <section class="section" id="organizers">
            <h2 class="title">ОРГАНІЗАТОРИ</h2>
            <div class="myContainer">
                <div>
                    <span>
                        <g-image
                            src="~/assets/images/partners/KIK.webp"
                            alt="organizer"
                        />
                    </span>
                    <p>МГО “Київський Інтелект Клуб”</p>
                </div>
                <div>
                    <span>
                        <g-image
                            src="~/assets/images/partners/new_udcpo_logo.webp"
                            class="bigger"
                            alt="organizer"
                        />
                    </span>
                    <p>Український Державний Центр Позашкільної Освіти</p>
                </div>
                <div>
                    <span>
                        <g-image
                            src="~/assets/images/partners/Garmony.webp"
                            alt="organizer"
                        />
                    </span>
                    <p>ГО “Всесвіт у гармонії”</p>
                </div>
            </div>
        </section>

        <section class="section" id="contact">
            <h2 class="title left">КОМАНДА</h2>
            <div class="grod">
                <div>
                    <g-image
                        src="~/assets/images/photos/Anton.webp"
                        alt="Антон Еременко"
                    />
                    <h3 class="subTitle left">Антон Еременко</h3>
                    <p>Founder</p>
                </div>
                <div>
                    <g-image
                        src="~/assets/images/photos/Kostya.webp"
                        alt="Костя Бахарев"
                    />
                    <h3 class="subTitle left">Костя Бахарев</h3>
                    <p>Project manager</p>
                </div>
                <div>
                    <g-image
                        src="~/assets/images/photos/Vlad.webp"
                        alt="Владислав Стрільчик"
                    />
                    <h3 class="subTitle left">Владислав Стрільчик</h3>
                    <p>Project coordinator</p>
                </div>
            </div>
        </section>
    </Layout>
</template>

<script>
import NominationCards from "~/components/NominationCards.vue";

export default {
    components: {
        NominationCards,
    },
    metaInfo: {
        title: "Головна",
    },
    data() {
        return {
            nominationsDispay: false,
        };
    },
    mounted() {
        if (!window.mainPageLoaded) {
            setTimeout(() => (this.nominationsDispay = true), 300);
            window.mainPageLoaded = true;
        } else {
            this.nominationsDispay = true;
        }
    },
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/mainpage.scss";
</style>
