<template>
    <Layout>
        <section id="judgeList" class="section">
            <h1 class="title">СУДДІ</h1>
            <JudgeGrid id="judgeGrod" :personEdges="$static.judges.edges" />
        </section>
    </Layout>
</template>

<script>
import JudgeGrid from "~/components/JudgeGrid.vue";

export default {
    name: "JudgesPage",
    components: {
        JudgeGrid,
    },
    metaInfo: {
        title: "Cудді",
        meta: [
            {
                name: "description",
                content:
                    "Справжні фахівці своєї справи які будуть оцінювати поддані роботи.",
            },
        ],
    },
};
</script>

<static-query>
    query {
        judges: allJudge(filter: { position: { in: [JUDGE, ALL] }}, sort: [{ by: "id", order: ASC }]){
            edges {
                node{
                    id
                    name
                    caption
                    photo
                }
            }
        }
    }
</static-query>
