<template>
    <Layout>
        <section class="section" id="demands">
            <div class="title left">Загальні вимоги до робіт</div>
            <a
                href="/documents/iTalent-7-Terms.pdf"
                class="shadow"
                target="_blank"
                rel="noopener noreferrer"
                >УМОВИ ПРОВЕДЕННЯ КОНКУРСУ</a
            >
            <div class="vimogiWrapper">
                <div class="vimogi">
                    <h3>
                        Всі роботи, представлені на конкурс, повинні
                        задовольняти наступним вимогам:
                    </h3>
                    <ul class="vimogiElement">
                        <li>
                            <h4>допускається подача</h4>
                            <p>
                                та розробка проектів у складі команди, проте
                                зауважте, що у разі перемоги – одна робота
                                отримує одну нагороду.
                            </p>
                        </li>
                        <li>
                            <h4>роботи які подавались</h4>
                            <p>
                                на конкурс в попередні сезони розглядатись не
                                будуть. Виключення — роботи в номінаціях:
                                «Програмна розробка» «Розробка гри» та
                                «Апаратно-програмна розробка». У разі подачі
                                таких робіт — це необхідно вказати в описі
                                роботи, робота має бути змінена не менш ніж на
                                50% від минулої
                            </p>
                        </li>
                        <li>
                            <h4>завантажуючи роботи</h4>
                            <p>
                                (зображення, 3д сцени, програмний код та інші
                                файли) на даний конкурс, Ви підтверджуєте, що є
                                їх автором і даєте не ексклюзивний, але
                                безоплатне право МГО «Київський Інтелект Клуб»
                                публікувати Ваші роботи на сайтах
                                italent.org.ua, udcpo.com.ua, в інших джерелах
                                масової інформації, а також використовувати їх
                                повністю або частково в рекламних, освітніх,
                                демонстраційних та інших цілях
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="vimogi">
                    <h3>
                        При реєстрації роботи на сайті обов’язково необхідно
                        ввести наступні дані:
                    </h3>
                    <ul class="vimogiElement">
                        <li>
                            <h4>персональні дані</h4>
                            <p>про автора роботи</p>
                        </li>
                        <li>
                            <h4>посилання на фото</h4>
                            <p>
                                свідоцтва про народження або першої сторінки
                                паспорта
                            </p>
                        </li>
                        <li>
                            <h4>дані про</h4>
                            <p>навчальний заклад</p>
                        </li>
                        <li>
                            <h4>дані про</h4>
                            <p>
                                вчителя/батьків/контактної особи. Це поле
                                потрібно для вирішення організаційних моментів у
                                разі запрошення до фіналу і ніяк не впливає на
                                оцінку роботи
                            </p>
                        </li>
                        <li>
                            <h4>інформацію про</h4>
                            <p>
                                свою роботу, включаючи: опис роботи, переваги,
                                інструкції до роботи, які на думку автора слід
                                знати членам журі для кращого розуміння та
                                оцінювання роботи
                            </p>
                        </li>
                        <li>
                            <h4>програми</h4>
                            <p>
                                які використовувалися при створені роботи,
                                наприклад HTML-редактор (вказати назву), Flash,
                                Photoshop, тощо.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <p>Вік учасника визначається відносно дати відкриття реєстрації.</p>
            <p>
                Тобто, якщо на момент відкриття реєстрації учаснику 14 років, то
                ми будемо вважати що учаснику 14 років навіть якщо йому вже 15
                на наступний день.
            </p>
        </section>
    </Layout>
</template>

<script>
export default {
    name: "ProjectDemandsPage",
    meta: {
        title: "Загальні вимоги до робіт",
        meta: [
            {
                name: "description",
                content:
                    "Зібрані всі вимоги та необхідні дані які потрібно надати перед подачею роботи.",
            },
        ],
    },
};
</script>
<style lang="scss" scoped>
@import "~/assets/scss/demands.scss";
</style>
