<template>
    <Layout>
        <section class="section" id="soundRecomendations">
            <h1 class="title left">Рекомендації до звуку</h1>
            <h2 class="advice">ЗАПИСУЙТЕ МАКСИМАЛЬНО ЧИСТО І ЯКІСНО</h2>
            <h2 class="advice">
                ПРИ МОНТАЖІ АУДІО РОЗДІЛИТИ НА ТРИ ОСНОВНІ КАНАЛИ
            </h2>
            <h3>ТЕКСТ (синхронний або закадровий)</h3>
            <p>
                Текст должен быть разборчивым! Когда подбираете персонажей для
                начитки закадрового звука или озвучки, обращайте внимание на
                соответствие тембра голоса диктора с характером вашего персонажа
            </p>
            <h3>ШУМИ ЗВУКИ АТМОСФЕРА</h3>
            <p>
                Если какие-то слова записаны тише, чем другие, или наоборот
                громче – их нужно выровнять. Если плохо записали в момент
                съемки, лучше переписать звук чище.
            </p>
            <p>
                Например, действие происходит на природе и ваши герои
                разговаривают. Звук записался плохо. Вы записываете его дома или
                еще где-то (в идеале в студии), добавляете звуки природы ,
                которые подходят под местность, их можно найти в библиотеке
                шумов или записать самим отдельно без разговоров. Но никогда не
                оставляйте диалоги «сухими», без шумов, интершумов. Это грубо,
                некрасиво, бездушно!)
            </p>
            <p>
                Точно так же, если события происходят в помещении. Легкая
                атмосфера должна присутствовать, хоть тиканье часиков, ветер за
                окном, птицы, машины, или музыкальный фон. Но никогда не делайте
                тишину. Если только этого сильно не требует жанр и стиль вашего
                видео.
            </p>
            <h3>МУЗИКА</h3>
            <p>
                Музыка не должна мешать тексту. Она создает настроение. И ее
                уровень должен быть ниже, чем голос. Переходы старайтесь делать
                плавными. Даже если происходит смена сцен, можно слегка оставить
                затихающий хвостик на следующий кадр, и тогда мы не получим
                резкий скачек по видео и по звуку. А наоборот звук это аккуратно
                сгладит.
            </p>
            <p>
                Баланс между дорожками делайте аккуратно. На первом месте текст,
                дальше шумы и музыка. Избегайте резких переходов, скачков, а
                самое главное звуковых «перегрузов».
            </p>
            <h2>
                ЗАГАЛЬНИЙ РІВЕНЬ УСІХ ДОРІЖОК (MIX) НЕ МАЄ БУТИ ВИЩИМ ЗА 0 ДБ
            </h2>
            <h2>АУДІО ДЛЯ ВІДЕО</h2>
            <p>
                Аудио под видео должно быть минимум 48 кГц частота
                дискретизации;
            </p>
            <p>
                16/24 бит; 128/256/320 кбит/с .Когда параметры видео и аудио не
                совпадают – то мы получаем несинхронный звук с видео.
            </p>
            <p>
                Конечно же аудио лучше сохранять не в формате mp3, а хотя бы
                WAV, в случае, если вы отдельно над звуком работаете в
                аудиоредакторе.
            </p>
        </section>
    </Layout>
</template>

<script>
export default {
    name: "SoundRecommendationsPage",
    metaInfo: {
        title: "Рекомендації до звуку",
    },
};
</script>

<style lang="scss" scoped>
#soundRecomendations {
    h2 {
        width: 100%;
        text-align: center;
        padding: 20px;
        color: white;
        background-color: #0198fe;
        margin-bottom: 20px;
        transition: 0.3s background-color;

        &:hover {
            background-color: rgb(19, 70, 123);
        }
    }
}
</style>
