<template>
    <Layout>
        <section class="section" id="banner">
            <g-image
                src="~/assets/images/wix/wixBanner.svg"
                alt="wixBanner"
                class="wixBanner"
            />
            <div class="bannerContainer">
                <div></div>
                <div class="messageContainer">
                    <a
                        href="https://uk.wix.com/"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="wixLogoHolder"
                    >
                        <g-image
                            src="~/assets/images/wix/wixLogo.svg"
                            alt="wixLogo"
                            class="wixLogo"
                        />
                    </a>
                    <h1>Переходьте в онлайн та отримайте преміум від Wix</h1>
                    <p>
                        Карантин довів, що бути онлайн — вимога сучасного світу.
                        Подайте заявку та безкоштовно отримайте преміумплан від
                        Wix для побудови вебсайту для вашого навчального закладу
                    </p>
                    <a
                        href="https://forms.gle/T2Z3j3ys1YzoJnU57"
                        target="_blank"
                    >
                        <div class="button shadow">
                            Подати заявку на преміумплан
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <!-- done -->

        <section class="section" id="ourGoal">
            <g-image
                src="~/assets/images/wix/wixCircles.svg"
                alt="wixCircles"
                class="wixCircles"
            />
            <div class="goalContainer">
                <p>
                    <span>Наша ціль</span> — допомогти освітнім закладам
                    створити свою онлайн-присутність.
                </p>
                <p>
                    Преміумплан та спеціальний шаблон дозволять вам швидко
                    запустити ефективний сайт та створити онлайн-доступ до
                    інформації вашого закладу.
                </p>
            </div>
            <div class="linkContainer">
                <a
                    href="https://www.wix.com/website-template/view/html/2610"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <div class="shadow">
                        <p>Шаблон спеціально для вас</p>
                        <div class="iconHolder">
                            <i class="ite ite-arrowRight"></i>
                        </div>
                    </div>
                </a>
                <a
                    href="https://www.wix.com/upgrade/website"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <div class="shadow">
                        <p>Що надає преміумплан</p>
                        <div class="iconHolder">
                            <i class="ite ite-arrowRight"></i>
                        </div>
                    </div>
                </a>
            </div>
        </section>
        <!-- done -->

        <section class="section" id="forWho">
            <h2>ДЛЯ КОГО</h2>
            <div class="container">
                <div>
                    <g-image
                        src="~/assets/images/wix/wixBlueBox.svg"
                        alt="blueBox"
                        class="blueBox"
                    />
                    <g-image
                        src="~/assets/images/wix/wixSchool.svg"
                        alt="school"
                    />
                    <h4>ШКОЛИ</h4>
                    <p>
                        Налаштовуйте розклад, додавайте необхідну інформацію для
                        дітей та батьків, завантажуйте електронні підручники та
                        інші матеріали.
                    </p>
                </div>
                <div>
                    <g-image
                        src="~/assets/images/wix/wixBlueBox.svg"
                        alt="blueBox"
                        class="blueBox"
                    />
                    <g-image
                        src="~/assets/images/wix/wixOutSchool.svg"
                        alt="out school"
                    />
                    <h4>ПОЗАШКІЛЬНА ОСВІТА</h4>
                    <p>
                        Організовуйте на сайті індивідуальні та групові
                        тренування, вебінари, консультації, налаштовуйте
                        календар записів.
                    </p>
                </div>
            </div>
        </section>
        <!-- done -->

        <section class="section" id="instructions">
            <g-image
                src="~/assets/images/wix/instructionsBg.svg"
                alt="instructions background"
                class="instructionsBg"
            />
            <div class="container">
                <h3 class="subTitle textLeft">
                    Ми створили покрокову інструкцію, що допоможе РОЗРОБИТИ
                    зручний вебсайт для вашого навчального закладу.
                </h3>
                <div class="instructionHolder">
                    <div class="icon">
                        <g-image
                            src="~/assets/images/wix/wixEllipse.svg"
                            alt="ellipse"
                        />
                        <p>1</p>
                    </div>
                    <h3>САЙТ</h3>
                </div>
                <p class="instructionsText">
                    <a
                        href="https://uk.wix.com/"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        Створіть сайт
                    </a>
                    — оберіть шаблон, який підходить вам найбільше, або почніть
                    з нуля. Додайте
                    <a
                        href="https://www.wix.com/getasite/wix-logo-maker-uk"
                        target="_blank"
                        rel="noopener noreferrer"
                        >логотип</a
                    >
                    або герб, детальну інформацію про заклад, зображення, тексти
                    та розклад, налаштуйте способи зв’язку. У нас є англомовні
                    статті про те,
                    <a
                        href="https://www.wix.com/blog/ecommerce/2019/10/how-to-start-an-online-store"
                        target="_blank"
                        rel="noopener noreferrer"
                        >як запустити інтернет-магазин</a
                    >
                    чи
                    <a
                        href="https://www.wix.com/blog/2018/08/how-to-create-one-page-website"
                        target="_blank"
                        rel="noopener noreferrer"
                        >створити лендингову сторінку</a
                    >.
                </p>
                <div class="instructionHolder">
                    <div class="icon">
                        <g-image
                            src="~/assets/images/wix/wixEllipse.svg"
                            alt="ellipse"
                        />
                        <p>2</p>
                    </div>
                    <h3>Домен</h3>
                </div>
                <p class="instructionsText">
                    Створіть та зареєструйте
                    <a
                        href="https://support.wix.com/en/article/connecting-your-own-domain-name"
                        target="_blank"
                        rel="noopener noreferrer"
                        >домен</a
                    >
                    за допомогою Wix або приєднайте той, який у вас вже є. Домен
                    потрібен, аби відвідувачам було простіше знайти вас в
                    інтернеті. Також Wix пропонує безкоштовний і безпечний
                    <a
                        href="https://uk.wix.com/free/web-hosting"
                        target="_blank"
                        rel="noopener noreferrer"
                        >хостинг</a
                    >.
                </p>
                <div class="instructionHolder">
                    <div class="icon">
                        <g-image
                            src="~/assets/images/wix/wixEllipse.svg"
                            alt="ellipse"
                        />
                        <p>3</p>
                    </div>
                    <h3>Шаблон</h3>
                </div>
                <p class="instructionsText">
                    Ми підготували для вас шаблон, на базі якого ви можете легко
                    почати створювати вебсайт. Але, пам’ятайте, що ваш сайт має
                    бути унікальним, тому налаштуйте кольори, фото, зображення
                    та інші елементи на свій лад.
                </p>
                <div class="cardsHolder">
                    <h4>МИ РЕКОМЕНДУЄМО ЗМІНИТИ ТАКІ ЕЛЕМЕНТИ:</h4>
                    <div class="linkContainer">
                        <a
                            href="https://support.wix.com/en/article/creating-a-logo-with-the-wix-logo-maker"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <div class="shadow">
                                <p>
                                    Додайте свій логотип/герб. Якщо у вас його
                                    ще немає, ви можете створити його власноруч
                                </p>
                                <div class="iconHolder">
                                    <i class="ite ite-arrowRight"></i>
                                </div>
                            </div>
                        </a>
                        <a
                            href="https://support.wix.com/en/article/changing-your-page-background-color"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <div class="shadow">
                                <p>Змініть кольори</p>
                                <div class="iconHolder">
                                    <i class="ite ite-arrowRight"></i>
                                </div>
                            </div>
                        </a>
                        <a
                            href="https://support.wix.com/en/article/changing-your-text-font"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <div class="shadow">
                                <p>Змініть шрифт</p>
                                <div class="iconHolder">
                                    <i class="ite ite-arrowRight"></i>
                                </div>
                            </div>
                        </a>
                        <a
                            href="https://support.wix.com/en/article/adding-and-editing-text"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <div class="shadow">
                                <p>Відредагуйте текст</p>
                                <div class="iconHolder">
                                    <i class="ite ite-arrowRight"></i>
                                </div>
                            </div>
                        </a>
                        <a
                            href="https://support.wix.com/en/article/about-the-new-wix-blog"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <div class="shadow">
                                <p>
                                    Створіть власний контент, спілкуйтесь у
                                    коментарях та поширюйте в соціальних мережах
                                    статті з вашого блогу
                                </p>
                                <div class="iconHolder">
                                    <i class="ite ite-arrowRight"></i>
                                </div>
                            </div>
                        </a>
                        <a
                            href="https://support.wix.com/en/article/about-wix-forms"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <div class="shadow">
                                <p>Налаштуйте форму</p>
                                <div class="iconHolder">
                                    <i class="ite ite-arrowRight"></i>
                                </div>
                            </div>
                        </a>
                        <a
                            href="https://support.wix.com/en/article/adding-and-setting-up-the-table-master-app"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <div class="shadow">
                                <p>
                                    Зв’язуйте свій розклад, створений у Google
                                    таблиці, з розкладом на сайті
                                </p>
                                <div class="iconHolder">
                                    <i class="ite ite-arrowRight"></i>
                                </div>
                            </div>
                        </a>
                        <a
                            href="https://support.wix.com/en/article/managing-your-social-bar-and-social-icons"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <div class="shadow">
                                <p>Налаштуйте соціальні мережі</p>
                                <div class="iconHolder">
                                    <i class="ite ite-arrowRight"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="section" id="howTo">
            <h3 class="subTitle">ЯК ОТРИМАТИ безкоштовний ПРЕМІУМПЛАН</h3>
            <div class="container">
                <ul>
                    <li>
                        Щоб отримати преміумплан вам необхідно заповнити форму.
                    </li>
                    <li>
                        Заповніть форму. Вказуйте дані уважно, додайте офіційний
                        імейл навчального закладу.
                    </li>
                    <li>
                        Після обробки анкети, вам будуть надісланий лист з
                        інструкцією про те, як активувати преміумплан.
                    </li>
                    <li>
                        Редагуйте шаблон і починайте користуватись
                        преміумпланом.
                    </li>
                </ul>
                <div class="cat">
                    <g-image src="~/assets/images/wix/cat.png" alt="cubecat" />
                </div>
            </div>
            <a href="https://forms.gle/T2Z3j3ys1YzoJnU57" target="_blank">
                <div class="button shadow">Подати заявку на преміумплан</div>
            </a>
        </section>

        <section class="section" id="faq">
            <h2>FAQ</h2>
            <div class="container">
                <div class="line"></div>
                <div class="question">
                    <span>Q:</span>
                    <p>
                        Чи означає ця ініціатива, що Wix повністю створить для
                        мене сайт і надасть преміумплан для нього?
                    </p>
                </div>
                <div class="answer">
                    <span>A:</span>
                    <p>
                        Ні, ви можете самостійно створити сайт, скориставшись
                        усіма описаними вище інструментами Wix. У рамках даної
                        ініціативи ми не створюємо для вас сайт, а надаємо
                        можливість отримати преміумплан, необхідний для
                        повноцінного запуску вебсайту для навчального закладу.
                    </p>
                </div>
            </div>
            <div class="container">
                <div class="line"></div>
                <div class="question">
                    <span>Q:</span>
                    <p>Який преміумплан Wix надає у рамках цієї ініціативи?</p>
                </div>
                <div class="answer">
                    <span>A:</span>
                    <p>Преміумплан Unlimited.</p>
                </div>
            </div>
            <div class="container">
                <div class="line"></div>
                <div class="question">
                    <span>Q:</span>
                    <p>Скільки часу буде діяти преміумплан?</p>
                </div>
                <div class="answer">
                    <span>A:</span>
                    <p>
                        Преміумплан буде діяти 1 рік з моменту активації. Ваш
                        вебсайт не зникне після закінчення дії преміумплану.
                        Якщо ви продовжите користуватися сервісами Wix понад
                        рік, оплату за наступний рік буде списано автоматично.
                        Ви завчасно отримаєте про це електронного листа і
                        зможете скасувати автоматичне поновлення.
                    </p>
                </div>
            </div>
            <div class="container">
                <div class="line"></div>
                <div class="question">
                    <span>Q:</span>
                    <p>Чи всі заявки отримають відповідь?</p>
                </div>
                <div class="answer">
                    <span>A:</span>
                    <p>
                        Так, ми розглянемо всі заявки та надішлемо відповіді
                        електронною поштою.
                    </p>
                </div>
            </div>
            <div class="container">
                <div class="line"></div>
                <div class="question">
                    <span>Q:</span>
                    <p>Як дізнатися, що я отримую преміумплан?</p>
                </div>
                <div class="answer">
                    <span>A:</span>
                    <p>
                        Ми надішлемо вам листа з промокодом для активації
                        преміумплану.
                    </p>
                </div>
            </div>
            <div class="container">
                <div class="line"></div>
                <div class="question">
                    <span>Q:</span>
                    <p>Можна оскаржити негативну відповідь?</p>
                </div>
                <div class="answer">
                    <span>A:</span>
                    <p>
                        Ні. Wix приймає рішення, спираючись на дані, які ви
                        надіслали у формі.
                    </p>
                </div>
            </div>
            <div class="container">
                <div class="line"></div>
                <div class="question">
                    <span>Q:</span>
                    <p>Скільки часу буде діяти ця ініціатива?</p>
                </div>
                <div class="answer">
                    <span>A:</span>
                    <p>
                        Подати заявку можна до 30 вересня 2020 року. Усі подані
                        після цього заявки розглядатися не будуть.
                    </p>
                </div>
            </div>
        </section>
    </Layout>
</template>

<script>
export default {
    name: "WixPage",
    metaInfo: {
        title: "Wix",
    },
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/wix.scss";
</style>
