<template>
    <div class="anouncement" v-show="localDsisplay">
        <h3>Ця номінація ще не готова!</h3>
        <p>
            Інформація на цій сторінці не оновлена! Тема роботм, вимоги і
            критерії можуть змінюватися.
        </p>
        <p>Ми повідомимо вас у соц. мережах щойно номінація буде готова</p>
        <div id="announceButton" style="margin-bottom: 40px" @click="close">
            ЗРОЗУМІЛО
        </div>
        <section
            class="section"
            id="mediaLinks"
            style="margin-top: 40px; padding-top: 0"
        >
            <div class="grod">
                <a
                    href="https://discord.gg/ywTQTpN"
                    target="_blank"
                    rel="noreferrer"
                    class="button unselectable shadow discord discordHovered aHovered"
                >
                    <div class="icon-link discord">
                        <i class="ite ite-discord" />
                    </div>
                    <p>Приєднуйтеся Discord</p>
                </a>
                <a
                    href="https://telegram.im/@ITalent_ua"
                    target="_blank"
                    rel="noreferrer"
                    class="button unselectable shadow telegram telegramHovered aHovered"
                >
                    <div class="icon-link telegram">
                        <i class="ite ite-telegram" />
                    </div>
                    <p>Приєднуйтеся Telegram</p>
                </a>
                <a
                    href="https://www.facebook.com/iTalent.ua/"
                    target="_blank"
                    rel="noreferrer"
                    class="button unselectable shadow facebook facebookHovered aHovered"
                >
                    <div class="icon-link facebook">
                        <i class="ite ite-facebook" />
                    </div>
                    <p>Приєднуйтеся Facebook</p>
                </a>
                <g-link
                    to="/faq-it/"
                    target="_blank"
                    class="button unselectable shadow faq faqHovered aHovered"
                >
                    <div class="icon-link question">
                        <i class="ite ite-question" />
                    </div>
                    <p>Перегляньте FAQ</p>
                </g-link>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    name: "notFullNominationModal",
    props: {
        display: {
            type: Boolean,
            required: false,
            default: false,
        },
    },
    data() {
        return {
            localDsisplay: false,
        };
    },
    methods: {
        close() {
            this.localDsisplay = false;
            this.$emit("update:display", false);
        },
    },
    watch: {
        display: {
            immediate: true,
            handler: function (displayVal) {
                this.localDsisplay = displayVal;
            },
        },
    },
};
</script>

<style lang="scss" scoped>
.anouncement {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    @include myFlex(column);
    font-size: 50px;
    font-weight: 700;
    z-index: 10000000;
    text-align: center;
    width: 100vw;
    height: 100vh;

    #announceButton {
        color: white;
        border: 1px solid white;
        border-radius: 10px;
        font-size: 22px;
        cursor: pointer;
        padding: 10px 20px;
    }
}

@media only screen and (max-width: 768px) {
    .anouncement {
        h3 {
            font-size: 30px;
        }

        p {
            width: 80%;
        }
    }
}
</style>
