<template>
    <div class="grod" :id="$attrs.id">
        <div class="shadow" v-for="{ node } of personEdges" :key="node.id">
            <g-image :src="node.photo" :alt="node.name" />
            <h4 v-text="node.name" />
            <p v-text="node.caption" />
        </div>
    </div>
</template>

<script>
export default {
    name: "JudgeGrid",
    props: {
        personEdges: {
            type: Array,
            required: true,
        },
    },
};
</script>

<style lang="scss" scoped>
#judgeList {
    .grod {
        @include myGrid(1fr, top);
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        margin-bottom: 40px;

        div {
            margin: auto;
            background-color: white;
            @include myFlex(column, center, top);
            text-align: center;
            padding: 30px 0px;
            height: 350px;
            width: 350px;

            img {
                width: 60%;
                height: initial;
                border-radius: 100px;
            }

            h4 {
                padding: 0px 10px;
                margin-bottom: 0;
                margin-top: 14px;
                font-size: 14px;
                line-height: 16px;
            }

            p {
                padding: 0px 10px;
                font-size: 12px;
                line-height: 16px;
                text-transform: uppercase;
            }
        }
    }
}

#mentorList {
    .grod {
        @include myGrid(repeat(4, 1fr), top);

        div {
            background-color: white;
            @include myFlex(column, center, top);
            text-align: center;
            padding: 30px 0px;

            img {
                width: 60%;
                height: initial;
                border-radius: 100px;
            }

            h4 {
                padding: 0px 10px;
                margin-bottom: 0;
                margin-top: 14px;
                font-size: 14px;
                line-height: 16px;
            }

            p {
                padding: 0px 10px;
                font-size: 12px;
                line-height: 16px;
                text-transform: uppercase;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .mentorListBg {
        background-size: cover;
    }

    #mentorList {
        .grod {
            @include myGrid(repeat(1, 1fr), top);
        }
    }
}
</style>
