<template>
    <div class="nominationsWrapper">
        <div class="upper">
            <h1 class="title left">ІТ - НОМІНАЦІЇ</h1>
            <div class="buttons">
                <div
                    v-for="(row, key) of [
                        ['Усі', null],
                        ['Технічні номінації', true],
                        ['Художні номінації', false],
                    ]"
                    :key="key"
                >
                    <button
                        class="hvr-underline-from-left"
                        v-text="row[0]"
                        @click="filter = row[1]"
                    ></button>
                </div>
            </div>
        </div>
        <div class="grod" id="noms">
            <a
                v-for="nomination in nominations"
                :key="nomination.slug"
                class="nomLink"
            >
                <g-link
                    class="nomination"
                    :to="`/nomination/${nomination.slug}`"
                >
                    <i class="ite icon" :class="`ite-${nomination.icon}`"></i>
                    <div class="myContainer">
                        <h2>{{ nomination.title }}</h2>
                        <p>Дізнатись більше ...</p>
                        <div></div>
                    </div>
                    <g-image
                        src="~/assets/images/icons/new.svg"
                        alt="new nomination"
                        v-if="nomination.isNew"
                        style="
                            width: 40px;
                            position: absolute;
                            top: 5px;
                            right: 5px;
                        "
                    />
                </g-link>
            </a>
        </div>
    </div>
</template>

<script>
export default {
    name: "NominationCards",
    data() {
        return {
            filter: null,
        };
    },
    computed: {
        nominations() {
            const nominations = this.$static.nominations.edges.map((edge) => {
                return edge.node;
            });

            if (this.filter !== null) {
                return nominations.filter(
                    (nomination) => nomination.isTech == this.filter
                );
            }
            return nominations;
        },
    },
    methods: {},
};
</script>

<style scoped lang="scss">
.nomination {
    opacity: 1;
    position: relative;
}

.nominationsWrapper {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.upper {
    @include myGrid(1fr 1fr);
    padding: 30px;

    .buttons {
        @include myGrid(1fr 1fr 1fr, center, space-between);

        button {
            background: white;
            border: none;
            min-height: 30px;
            font-size: 20px;
            color: rgba(0, 0, 0, 0.5);
            cursor: pointer;
            outline: none;
            transition: color 0.5s;
        }

        button:hover {
            color: black;
        }
    }
}

.grod {
    @include myGrid(repeat(3, 1fr), center, center, 5px);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    overflow: hidden;
    transition: all 0.5s;

    .nomination {
        text-align: center;
        overflow: hidden;
        padding: 30px;
        width: 300px;
        animation: fadeIn 3s;
        position: relative;
        margin-bottom: 20px;
        cursor: pointer;
        left: 0px;
        z-index: 1;
        background: none;
        box-sizing: border-box;
        text-align: left;
        transition: all 1s;
        @include myFlex(row, center, flex-start);
        grid-auto-rows: 1fr;
        border-radius: 8px;
        padding: 10px;
    }

    .nomination::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            14.78deg,
            #2f80ed 28.14%,
            rgba(127, 127, 213, 0) 194.58%
        );
        opacity: 0;
        transition: opacity 0.4s;
        z-index: -1;
    }

    .icon {
        color: #2f80ed;
        font-size: 60px;
        transition: all 1s;
        line-height: 60px;
        height: 60px;
        width: 60px;
        margin: 20px;
    }

    h2 {
        color: black;
        transition: all 0.3s;
        text-align: left;
        font-size: 20px;
        line-height: 26px;
        font-weight: 500;
    }

    .myContainer {
        @include myFlex(column, flex-start, flex-start);

        p {
            display: none;
            margin: 0;
        }
    }

    .nomination:hover {
        h2,
        .icon {
            color: white;
        }

        &::before {
            opacity: 1;
        }

        .myContainer {
            p {
                display: block;
            }
        }
    }
}

@media only screen and (max-width: 1440px) {
    .grod {
        .myContainer h2 {
            padding-left: 10px;
        }

        padding: 10px;
        align-items: top;
    }
}

@media only screen and (max-width: 768px) {
    .grod {
        .nomination {
            padding: 10px;
            grid-gap: 10px;
            min-height: 0px;

            .myContainer h2 {
                margin: 0;
            }
        }
    }
}

@media only screen and (max-width: 1440px) {
    .upper {
        @include myGrid(1fr 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .upper {
        @include myGrid(1fr);
        padding: 20px 0px;
    }
}
</style>

<static-query>
    query {
        nominations: allNomination(sort: [{ by: "title", order: ASC }]){
            edges {
            node{
                title
                slug
                icon
                isNew
                isTech
            }
            }
        }
    }
</static-query>
