<template>
    <div>
        <section class="section" id="myHeader">
            <div class="flexington">
                <div class="menuWrapper">
                    <div class="logoWrapper">
                        <g-link to="/">
                            <g-image
                                src="~/assets/images/logos/iTalent_logo_horizontal.svg"
                                alt="logo"
                                class="logo"
                            />
                        </g-link>
                        <div
                            class="burger myMobile"
                            :class="{ 'is-active': mobileMenuActive }"
                            @click="toggleMenu"
                        >
                            <span />
                            <span />
                            <span />
                        </div>
                    </div>
                    <nav class="myDesktop">
                        <div class="navElement">
                            <a
                                href="/"
                                class="noTrigger-hvr-underline-from-left"
                                >iTalent</a
                            >
                            <div class="hidden shadow">
                                <a href="/#about">
                                    <div>Про конкурс</div>
                                </a>
                                <a href="/#lastWinners">
                                    <div>Переможці минулого сезону</div>
                                </a>
                                <a href="/#judges">
                                    <div>Судді</div>
                                </a>
                                <!-- <a href="/#mentor">
                                    <div>Ментори</div>
                                </a> -->
                                <a href="/#contact">
                                    <div>Контакти</div>
                                </a>
                            </div>
                        </div>
                        <div class="navElement">
                            <a
                                href="/#nominations"
                                class="noTrigger-hvr-underline-from-left"
                                >IT-номінації</a
                            >
                        </div>
                        <div class="navElement">
                            <a
                                href="//cybersport.italent.org.ua/"
                                target="_blank"
                                class="noTrigger-hvr-underline-from-left"
                                >Кіберспорт</a
                            >
                        </div>
                        <div class="navElement">
                            <a
                                href="//minecraft.italent.org.ua/"
                                target="_blank"
                                class="noTrigger-hvr-underline-from-left"
                                >Minecraft</a
                            >
                        </div>
                        <div class="navElement">
                            <a
                                href="https://reg.italent.org.ua/"
                                target="blank"
                                class="noTrigger-hvr-underline-from-left"
                            >
                                <div style="font-weight: bold; color: #0c8cc6">
                                    Зареєструватися
                                </div>
                            </a>
                        </div>
                    </nav>

                    <div class="myMobile">
                        <nav
                            id="mobileMenu"
                            :class="mobileMenuActive ? 'open' : 'closed'"
                        >
                            <g-link href="/" class="navElement mobileChild"
                                >iTalent</g-link
                            >
                            <a href="#about" class="navElement mobileChild"
                                >Про конкурс</a
                            >
                            <a
                                href="#lastWinners"
                                class="navElement mobileChild"
                                >Переможці минулого сезону</a
                            >
                            <a href="#judges" class="navElement mobileChild"
                                >Судді</a
                            >
                            <!--<a href="#mentor" class="navElement mobileChild"
                                >Ментори</a
                            >-->
                            <a
                                href="#nominations"
                                class="navElement mobileChild"
                                >IT-номінації</a
                            >
                            <a
                                href="//cybersport.italent.org.ua/"
                                target="_blank"
                                class="navElement mobileChild"
                                >Кіберспорт</a
                            >
                            <a
                                href="//minecraft.italent.org.ua/"
                                target="_blank"
                                class="navElement mobileChild"
                                >Minecraft</a
                            >
                            <a href="#contact" class="navElement mobileChild"
                                >Контакти</a
                            >
                            <a
                                href="https://reg.italent.org.ua/"
                                target="blank"
                                class="navElement mobileChild"
                                >Зареєструватися</a
                            >
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <div class="headerSpace"></div>

        <section style="min-height: 72vh;">
            <slot />
        </section>

        <section class="section" id="footer">
            <div class="row1">
                <a href="/">
                    <g-image
                        src="~/assets/images/logos/iTalent_logo_horizontal.svg"
                        alt="logo"
                        class="logo"
                    />
                </a>
                <div class="menu">
                    <g-link class="footerMenuItem" to="/">iTalent</g-link>
                    <g-link class="footerMenuItem" to="/#nominations"
                        >IT-номінації</g-link
                    >
                    <a
                        target="_blank"
                        class="footerMenuItem"
                        href="//cybersport.italent.org.ua/"
                        >Кіберспорт</a
                    >
                    <a
                        target="_blank"
                        class="footerMenuItem"
                        href="//minecraft.italent.org.ua/"
                        >Minecraft</a
                    >
                </div>
                <div class="media">
                    <a
                        href="https://discord.gg/ywTQTpN"
                        target="_blank"
                        class="icon-link discord"
                        rel="noopener noreferrer"
                    >
                        <i class="ite ite-discord" />
                    </a>
                    <a
                        href="https://t.me/ITalent_ua"
                        target="_blank"
                        class="icon-link telegram"
                        rel="noopener noreferrer"
                    >
                        <i class="ite ite-telegram" />
                    </a>
                    <a
                        href="https://www.facebook.com/iTalent.Obozrevatel/"
                        target="_blank"
                        class="icon-link facebook"
                        rel="noopener noreferrer"
                    >
                        <i class="ite ite-facebook" />
                    </a>
                </div>
            </div>
            <div class="row2">
                <div class="row2Wrapper">
                    <div class="secondaryMenu">
                        <a href="/#about" class="secondaryMenuItem">About</a>
                        <g-link to="/faq-it/" class="secondaryMenuItem"
                            >FAQ</g-link
                        >
                        <!--<a href="/#mentor" class="secondaryMenuItem">Mentors</a>-->
                        <a href="/#lastWinners" class="secondaryMenuItem"
                            >Winners</a
                        >
                    </div>
                    
                <div class="subscribe">
                    <!-- 
                        <form id="emailForm">
                            <label
                                style="
                                    font-size: 16px;
                                    margin-bottom: 10px;
                                    color: white;
                                    font-weight: 600;
                                "
                                for="emailFormInput"
                            >
                                ПІДПИШІТЬСЯ НА НАС
                            </label>
                            <input
                                type="email"
                                name="email"
                                id="emailFormInput"
                                placeholder="Введіть ваш Email"
                            />
                            <input
                                type="submit"
                                id="emailFormSubmit"
                                value="ПІДПИСАТИСЯ"
                            />
                        </form>
                    -->
                        <div id="formMessage"></div>
                    </div>
                    <div class="contacts">
                        <div class="email">
                            <g-image
                                class="footerIcon"
                                src="~/assets/images/icons/mail.svg"
                                alt="email"
                            />
                            <p>italent.ua@gmail.com</p>
                        </div>
                        <div class="phone">
                            <g-image
                                class="footerIcon"
                                src="~/assets/images/icons/smartphone.svg"
                                alt="phone"
                            />
                            <p>+38 (097) 133 73 39</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>
<script>
export default {
    data() {
        return {
            mobileMenuActive: false,
        };
    },
    methods: {
        toggleMenu() {
            this.mobileMenuActive = !this.mobileMenuActive;
        },
    },
    watch: {
        $route(from, to) {
            this.mobileMenuActive = false;
        },
    },
};
</script>

<style lang="scss">
@import "~/assets/scss/_all";

#myHeader .flexington {
    box-shadow: rgba(0, 0, 0, 0.173) 0px 7px 27px;
}

.icon-link {
    //TODO: to sass file
    &.discord {
        background-color: #7289da;
    }
    &.telegram {
        background-color: #25a2e1;
    }
    &.facebook {
        background-color: #1877f1;
    }
    &.question {
        background-color: #48a0dc;
    }
}
</style>
